@model object
@section styles {
    <link href="@Url.Content("~/css/privacy-policy.css")" rel="stylesheet" type="text/css" />
}
@{
    ViewBag.Title = "Gizlilik siyasəti";
    Layout = "_Layout";
}

<main>
    <!-- SECTIONS START -->
    <section id="privacy-policy">
        <div class="container">
            <div class="row">
                <div class="privacy-policy-title d-flex justify-content-center">
                    <b>Gizlilik siyasəti</b>
                </div>
                <div class="privacy-policy-content">
                    <div class="intro">
                        <p class="one-point-one">
                            "Dynamex" MMC müştərilərinin şəxsi məlumatlarının qorunmasına cavabdehdir.
                        </p>
                        <p class="one-point-two">
                            Şəxsi məlumat deyərkən "Dynamex" MMC müştərilərinin
                            <a href="https://dynamex.az/">www.dynamex.az-a</a>
                            təqdim etdikləri məlumatlar nəzərdə tutulur.
                        </p>
                    </div>
                    <div class="common">
                        <b class="common-title">
                            Ümumi şərtlər:
                        </b>
                        <p class="two-point-one">
                            Dynamex MMC aşağıda qeyd edilən məqsədlər ilə müştərinin
                            şəxsi məlumatlarını istifadə edə və ya açıqlaya bilər:
                        </p>
                        <p class="two-point-two">
                            -Xidmət seçimlərinizi təyin etmək üçün;
                        </p>
                        <p class="two-point-three">
                            -İnformasiya, təbliğat, məhsul və xidmətlər, yenilənmiş
                            marketinq və reklam materiallarını sizə göndərmək üçün
                            və ya Dynamex MMC-in maraqlarını qorumaq üçün;
                        </p>
                        <p class="two-point-four">
                            -Problemli məsələlərin həlli üçün;
                        </p>
                        <p class="two-point-five">
                            -Sizin maraqlarınıza uyğun olduğunu düşündüyümüz,
                            Dynamex MMC-nin xidmətləri və ya üçüncü tərəfin
                            xüsusi təkliflərini təbliğ etmək üçün;
                        </p>
                        <p class="two-point-six">
                            Dynamex MMC qeydiyyat formasında tələb edilən
                            şəxsi məlumatları Azərbaycan Respublikası Dövlət
                            Gömrük Komitəsi tələblərinə və ehtiyaclarınıza uyğun
                            daha yaxşı xidmət göstərmək məqsədi ilə toplayır.
                        </p>
                    </div>
                    <div class="safety">
                        <b class="safety-title">
                            Təhlükəsizlik şərtləri:
                        </b>
                        <p class="safety-one">
                            Dynamex MMC şəxsi məlumatların səhvən silinməsi və ya
                            açıqlanmaması üçün Şəxsi Məlumatların gizliliyi və
                            təhlükəsizliyini qorumaq məqsədilə təşkilati və texniki
                            addımlar da daxil olmaqla bütün ehtiyat tədbirlərinin
                            görülməsindən məsuliyyət daşıyır.
                        </p>
                        <p class="safety-two">
                            Müştəri Qeydiyyat Formasında tələb edilən məlumatlara verilən c
                            avablara görə məsuliyyət daşıyır. Qeydiyyat bölməsində tələb edilən,
                            məlumatların natamam və ya qeyri-dəqiq doldurulmasının nəticəsində,
                            müştəriyə göstərilən xidmət, dayandırıla və ya xidmət tamamilə sonlandırıla bilər.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SECTIONS END -->
</main>