#agreement{
    padding: 3rem 18rem;
    text-align: justify;
    .agreement-title{
        margin-bottom: 3rem;
        b{
            font-size: 35px;
        }
    }
    .agreement-content{
        font-size: 15px;
        .part{
            margin-bottom: 3rem;
            a{
                font-size: 15px;
                color: #fd475d;
            }
        }
    }
}