#intro{
    padding: 3rem 3rem 0;
    .faq-title{
        margin-bottom: 1rem;
        b{
            font-size: 35px;
        }
    }
    .faq-description{
        margin-bottom: 3rem;
        p{
            font-size: 14px;
            color: #7b7b93;
        }
    }
}