@model object
@{
    ViewBag.Title = "title";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <img class="w-25" src="~/imgs/main/logo.svg" alt="Dynamex Logo">
    </div>
</div>
