@model object
@section styles {
    <link href="@Url.Content("~/css/rates.css")" rel="stylesheet" type="text/css" />
}
@section scripts {
    <script src="js/calculator.js" defer=""></script>
    <script src="js/rates.js" defer=""></script>
}
@{
    ViewBag.Title = "Tariflər";
    Layout = "_Layout";
}

<main>
<!-- SECTIONS START -->
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="rates-title d-flex justify-content-center">
                <b>Ölkələr</b>
            </div>
            <div class="rates-description d-flex justify-content-center text-center">
                <p>
                    Müxtəlif ölkələri sizin üçün əlçatan etdik! Dynamic Express ilə sərfəli <br>
                    daşınma tariflərindən yararlana bilərsiniz.
                </p>
            </div>
            <div class="location d-flex justify-content-center">
                <a href="#intro" class="türkiye active">Türkiyə</a>
                <a href="#intro" class="usa">ABŞ</a>
            </div>
        </div>
    </div>
</section>
<section id="delivery">
<div class="container">
<div class="row">
<div class="methods d-flex justify-content-center">
    <a href="#delivery" class="branch focus">Filiala çatdırılma</a>
    <a href="#delivery" class="home">Birbaşa ünvana çatdırılma</a>
</div>
<div class="rate-wrapper from-türkiye col-12">
<div class="row to-branch justify-content-center">
    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="condition">
            <i class="icon">
                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
            </i>
            <b>0.001 kq-dan 0.100 kq-a qədər</b>
        </div>
        <div class="detail d-flex">
            <div class="normal col-6 d-flex flex-column">
                <span class="title">Adi məhsul</span>
                <span class="price">1.00 </span>
            </div>
            <div class="liquid col-6 d-flex flex-column">
                <span class="title">Maye və kosmetik</span>
                <span class="price">1.00 </span>
            </div>
        </div>
    </div>
    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="condition">
            <i class="icon">
                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
            </i>
            <b>0.101 kq-dan 0.25 kq-a qədər</b>
        </div>
        <div class="detail d-flex">
            <div class="normal col-6 d-flex flex-column">
                <span class="title">Adi məhsul</span>
                <span class="price">2.00 </span>
            </div>
            <div class="liquid col-6 d-flex flex-column">
                <span class="title">Maye və kosmetik</span>
                <span class="price">2.00 </span>
            </div>
        </div>
    </div>
    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="condition">
            <i class="icon">
                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
            </i>
            <b>0.251 kq-dan 0.500 kq-a qədər</b>
        </div>
        <div class="detail d-flex">
            <div class="normal col-6 d-flex flex-column">
                <span class="title">Adi məhsul</span>
                <span class="price">3.00 </span>
            </div>
            <div class="liquid col-6 d-flex flex-column">
                <span class="title">Maye və kosmetik</span>
                <span class="price">3.00 </span>
            </div>
        </div>
    </div>
    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="condition">
            <i class="icon">
                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
            </i>
            <b>0.501 kq-dan 0.750 kq-a qədər</b>
        </div>
        <div class="detail d-flex">
            <div class="normal col-6 d-flex flex-column">
                <span class="title">Adi məhsul</span>
                <span class="price">3.50 </span>
            </div>
            <div class="liquid col-6 d-flex flex-column">
                <span class="title">Maye və kosmetik</span>
                <span class="price">3.50 </span>
            </div>
        </div>
    </div>
    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="condition">
            <i class="icon">
                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
            </i>
            <b>0.751 kq-dan 1 kq-a qədər</b>
        </div>
        <div class="detail d-flex">
            <div class="normal col-6 d-flex flex-column">
                <span class="title">Adi məhsul</span>
                <span class="price">3.90 </span>
            </div>
            <div class="liquid col-6 d-flex flex-column">
                <span class="title">Maye və kosmetik</span>
                <span class="price">3.90 </span>
            </div>
        </div>
    </div>
    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="condition">
            <i class="icon">
                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
            </i>
            <b>1 kq-dan 5 kq-a qədər (Hər kiloqram üçün)</b>
        </div>
        <div class="detail d-flex">
            <div class="normal col-6 d-flex flex-column">
                <span class="title">Adi məhsul</span>
                <span class="price">3.90 </span>
            </div>
            <div class="liquid col-6 d-flex flex-column">
                <span class="title">Maye və kosmetik</span>
                <span class="price">3.90 </span>
            </div>
        </div>
    </div>
    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="condition">
            <i class="icon">
                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
            </i>
            <b>5 kq və artıq (Hər kiloqram üçün)</b>
        </div>
        <div class="detail d-flex">
            <div class="normal col-6 d-flex flex-column">
                <span class="title">Adi məhsul</span>
                <span class="price">3.50 </span>
            </div>
            <div class="liquid col-6 d-flex flex-column">
                <span class="title">Maye və kosmetik</span>
                <span class="price">3.50 </span>
            </div>
        </div>
    </div>
</div>
<div class="row to-address justify-content-center" style="display: none;">
    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="condition">
            <i class="icon">
                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
            </i>
            <b>0.001 kq-dan 0.100 kq-a qədər</b>
        </div>
        <div class="detail d-flex">
            <div class="normal col-6 d-flex flex-column">
                <span class="title">Adi məhsul</span>
                <span class="price">1.50 </span>
            </div>
            <div class="liquid col-6 d-flex flex-column">
                <span class="title">Maye və kosmetik</span>
                <span class="price">1.50 </span>
            </div>
        </div>
    </div>
    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="condition">
            <i class="icon">
                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
            </i>
            <b>0.101 kq-dan 0.25 kq-a qədər</b>
        </div>
        <div class="detail d-flex">
            <div class="normal col-6 d-flex flex-column">
                <span class="title">Adi məhsul</span>
                <span class="price">2.50 </span>
            </div>
            <div class="liquid col-6 d-flex flex-column">
                <span class="title">Maye və kosmetik</span>
                <span class="price">2.50 </span>
            </div>
        </div>
    </div>
    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="condition">
            <i class="icon">
                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
            </i>
            <b>0.251 kq-dan 0.500 kq-a qədər</b>
        </div>
        <div class="detail d-flex">
            <div class="normal col-6 d-flex flex-column">
                <span class="title">Adi məhsul</span>
                <span class="price">3.50 </span>
            </div>
            <div class="liquid col-6 d-flex flex-column">
                <span class="title">Maye və kosmetik</span>
                <span class="price">3.50 </span>
            </div>
        </div>
    </div>
    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="condition">
            <i class="icon">
                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
            </i>
            <b>0.501 kq-dan 0.750 kq-a qədər</b>
        </div>
        <div class="detail d-flex">
            <div class="normal col-6 d-flex flex-column">
                <span class="title">Adi məhsul</span>
                <span class="price">4.00 </span>
            </div>
            <div class="liquid col-6 d-flex flex-column">
                <span class="title">Maye və kosmetik</span>
                <span class="price">4.00 </span>
            </div>
        </div>
    </div>
    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="condition">
            <i class="icon">
                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
            </i>
            <b>0.751 kq-dan 1 kq-a qədər</b>
        </div>
        <div class="detail d-flex">
            <div class="normal col-6 d-flex flex-column">
                <span class="title">Adi məhsul</span>
                <span class="price">4.40 </span>
            </div>
            <div class="liquid col-6 d-flex flex-column">
                <span class="title">Maye və kosmetik</span>
                <span class="price">4.40 </span>
            </div>
        </div>
    </div>
    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="condition">
            <i class="icon">
                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
            </i>
            <b>1 kq-dan 5 kq-a qədər (Hər kiloqram üçün)</b>
        </div>
        <div class="detail d-flex">
            <div class="normal col-6 d-flex flex-column">
                <span class="title">Adi məhsul</span>
                <span class="price">4.40 </span>
            </div>
            <div class="liquid col-6 d-flex flex-column">
                <span class="title">Maye və kosmetik</span>
                <span class="price">4.40 </span>
            </div>
        </div>
    </div>
    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="condition">
            <i class="icon">
                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
            </i>
            <b>5 kq və artıq (Hər kiloqram üçün)</b>
        </div>
        <div class="detail d-flex">
            <div class="normal col-6 d-flex flex-column">
                <span class="title">Adi məhsul</span>
                <span class="price">4.00 </span>
            </div>
            <div class="liquid col-6 d-flex flex-column">
                <span class="title">Maye və kosmetik</span>
                <span class="price">4.00 </span>
            </div>
        </div>
    </div>
</div>
</div>
<div class="rate-wrapper from-usa col-12" style="display: none;">
<div class="row to-branch justify-content-center">
    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="condition">
            <i class="icon">
                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
            </i>
            <b>0.001 kq-dan 0.250 kq-a qədər</b>
        </div>
        <div class="detail d-flex">
            <div class="normal col-6 d-flex flex-column">
                <span class="title">Adi məhsul</span>
                <span class="price">2.30 </span>
            </div>
            <div class="liquid col-6 d-flex flex-column">
                <span class="title">Maye və kosmetik</span>
                <span class="price">2.30 </span>
            </div>
        </div>
    </div>
    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="condition">
            <i class="icon">
                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
            </i>
            <b>0.251 kq-dan 0.500 kq-a qədər</b>
        </div>
        <div class="detail d-flex">
            <div class="normal col-6 d-flex flex-column">
                <span class="title">Adi məhsul</span>
                <span class="price">4.30 </span>
            </div>
            <div class="liquid col-6 d-flex flex-column">
                <span class="title">Maye və kosmetik</span>
                <span class="price">4.30 </span>
            </div>
        </div>
    </div>
    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="condition">
            <i class="icon">
                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
            </i>
            <b>0.501 kq-dan 0.750 kq-a qədər</b>
        </div>
        <div class="detail d-flex">
            <div class="normal col-6 d-flex flex-column">
                <span class="title">Adi məhsul</span>
                <span class="price">6.30 </span>
            </div>
            <div class="liquid col-6 d-flex flex-column">
                <span class="title">Maye və kosmetik</span>
                <span class="price">6.30 </span>
            </div>
        </div>
    </div>
    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="condition">
            <i class="icon">
                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
            </i>
            <b>0.751 kq-dan 1 kq-a qədər</b>
        </div>
        <div class="detail d-flex">
            <div class="normal col-6 d-flex flex-column">
                <span class="title">Adi məhsul</span>
                <span class="price">6.80 </span>
            </div>
            <div class="liquid col-6 d-flex flex-column">
                <span class="title">Maye və kosmetik</span>
                <span class="price">6.80 </span>
            </div>
        </div>
    </div>
    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="condition">
            <i class="icon">
                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
            </i>
            <b>1 kq-dan 5 kq-a qədər (Hər kiloqram üçün)</b>
        </div>
        <div class="detail d-flex">
            <div class="normal col-6 d-flex flex-column">
                <span class="title">Adi məhsul</span>
                <span class="price">6.50 </span>
            </div>
            <div class="liquid col-6 d-flex flex-column">
                <span class="title">Maye və kosmetik</span>
                <span class="price">6.50 </span>
            </div>
        </div>
    </div>
    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="condition">
            <i class="icon">
                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
            </i>
            <b>5 kq və artıq (Hər kiloqram üçün)</b>
        </div>
        <div class="detail d-flex">
            <div class="normal col-6 d-flex flex-column">
                <span class="title">Adi məhsul</span>
                <span class="price">6.30 </span>
            </div>
            <div class="liquid col-6 d-flex flex-column">
                <span class="title">Maye və kosmetik</span>
                <span class="price">6.30 </span>
            </div>
        </div>
    </div>
</div>
<div class="row to-address justify-content-center" style="display: none;">
    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="condition">
            <i class="icon">
                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
            </i>
            <b>0.001 kq-dan 0.250 kq-a qədər</b>
        </div>
        <div class="detail d-flex">
            <div class="normal col-6 d-flex flex-column">
                <span class="title">Adi məhsul</span>
                <span class="price">2.80 </span>
            </div>
            <div class="liquid col-6 d-flex flex-column">
                <span class="title">Maye və kosmetik</span>
                <span class="price">2.80 </span>
            </div>
        </div>
    </div>
    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="condition">
            <i class="icon">
                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
            </i>
            <b>0.251 kq-dan 0.500 kq-a qədər</b>
        </div>
        <div class="detail d-flex">
            <div class="normal col-6 d-flex flex-column">
                <span class="title">Adi məhsul</span>
                <span class="price">4.80 </span>
            </div>
            <div class="liquid col-6 d-flex flex-column">
                <span class="title">Maye və kosmetik</span>
                <span class="price">4.80 </span>
            </div>
        </div>
    </div>
    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="condition">
            <i class="icon">
                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
            </i>
            <b>0.501 kq-dan 0.750 kq-a qədər</b>
        </div>
        <div class="detail d-flex">
            <div class="normal col-6 d-flex flex-column">
                <span class="title">Adi məhsul</span>
                <span class="price">6.80 </span>
            </div>
            <div class="liquid col-6 d-flex flex-column">
                <span class="title">Maye və kosmetik</span>
                <span class="price">6.80 </span>
            </div>
        </div>
    </div>
    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="condition">
            <i class="icon">
                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
            </i>
            <b>0.751 kq-dan 1 kq-a qədər</b>
        </div>
        <div class="detail d-flex">
            <div class="normal col-6 d-flex flex-column">
                <span class="title">Adi məhsul</span>
                <span class="price">7.30 </span>
            </div>
            <div class="liquid col-6 d-flex flex-column">
                <span class="title">Maye və kosmetik</span>
                <span class="price">7.30 </span>
            </div>
        </div>
    </div>
    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="condition">
            <i class="icon">
                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
            </i>
            <b>1 kq-dan 5 kq-a qədər (Hər kiloqram üçün)</b>
        </div>
        <div class="detail d-flex">
            <div class="normal col-6 d-flex flex-column">
                <span class="title">Adi məhsul</span>
                <span class="price">7.00 </span>
            </div>
            <div class="liquid col-6 d-flex flex-column">
                <span class="title">Maye və kosmetik</span>
                <span class="price">7.00 </span>
            </div>
        </div>
    </div>
    <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="condition">
            <i class="icon">
                <span class="iconify" data-icon="ion:bag-handle-outline" data-height="20" style="color: #d3d3e4;"></span>
            </i>
            <b>5 kq və artıq (Hər kiloqram üçün)</b>
        </div>
        <div class="detail d-flex">
            <div class="normal col-6 d-flex flex-column">
                <span class="title">Adi məhsul</span>
                <span class="price">6.80 </span>
            </div>
            <div class="liquid col-6 d-flex flex-column">
                <span class="title">Maye və kosmetik</span>
                <span class="price">6.80 </span>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</section>
<section id="calculator">
    <div class="container">
        <div class="row">
            <div class="col-md-12 texts-resp" style="display: none;">
                <div class="text-title">
                    <b>Kalkulyator</b>
                </div>
                <div class="text-content">
                    <p>
                        Bağlamanın hər hansı bir tərəfinin ölçüsü (Türkiyə)
                        60 sm (Amerika) 80 sm və daha çox olarsa, bağlamanın
                        həm həcm, həm də fiziki çəkisi hesablanır. Hansı çəki
                        yüksək olarsa, daşınma haqqı ona əsasən hesablanır.
                    </p>
                </div>
            </div>
            <div class="col-xxl-7  col-xl-8 col-lg-9 col-md-12 calculator py-5">
                <div class="col-12">
                    <div class="country d-flex">
                        <select class="col-8 d-flex" name="country" id="country">
                            <option value="usa">Türkiyə</option>
                            <option value="türkiye">ABŞ</option>
                        </select>
                    </div>
                    <div class="method-type d-flex">
                        <select class="col-3" name="method" id="method">
                            <option value="address">Birbaşa ünvana çatdırılma</option>
                            <option value="branch">Filiala çatdırılma</option>
                        </select>
                        <select class="col-3" name="method" id="method">
                            <option value="liquid">Maye və kosmetik</option>
                            <option value="normal">Adi məhsul</option>
                        </select>
                    </div>
                    <div class="dimensions d-flex">
                        <input class="col-3" id="width" type="number" min="0" placeholder="En">
                        <div class="div-1">sm</div>
                        <input class="col-3" id="length" type="number" min="0" placeholder="Uzunluq">
                        <div class="div-2">sm</div>
                    </div>
                    <div class="dimensions d-flex">
                        <input class="col-3" id="height" type="number" min="0" placeholder="Hündürlük">
                        <div class="div-1">sm</div>
                        <input class="col-3" id="weight" type="number" min="0" placeholder="Çəki">
                        <div class="div-2">kq</div>
                    </div>
                    <div class="btn-wrap d-flex justify-content-center">
                        <div class="calculate btn">
                            Hesabla
                        </div>
                    </div>
                    <div class="result d-flex justify-content-center">
                        <b id="result">0.00</b>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-12 texts">
                <div class="text-title">
                    <b>Kalkulyator</b>
                </div>
                <div class="text-content">
                    <p>
                        Bağlamanın hər hansı bir tərəfinin ölçüsü (Türkiyə)
                        60 sm (Amerika) 80 sm və daha çox olarsa, bağlamanın
                        həm həcm, həm də fiziki çəkisi hesablanır. Hansı çəki
                        yüksək olarsa, daşınma haqqı ona əsasən hesablanır.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SECTIONS END -->
</main>