@model object
@section styles {
    <link href="@Url.Content("~/css/services.css")" rel="stylesheet" type="text/css" />
}
@{
    ViewBag.Title = "Xidmətlər";
    Layout = "_Layout";
}

<main>
    <!-- SECTIONS START -->
    <section id="services">
        <div class="container container-sm">
            <div class="row">
                <div class="col-12">
                    <div class="services-title d-flex justify-content-center">
                        <b>Xidmətlər</b>
                    </div>
                    <div class="services-description d-flex justify-content-center">
                        <p>Təklif etdiyimiz xidmətlərdən yararlanaraq onlayn sifariş etməyə tələsin!</p>
                    </div>
                    <div class="services-cards row d-flex justify-content-center">
                        <div class="service-card col-lg-6 col-md-6 col-sm-12 d-flex">
                            <div class="card-gif">
                                <img src="imgs/services/order.gif" alt="">
                            </div>
                            <div class="card-text">
                                <div class="card-title">
                                    <b>Sifariş Et</b>
                                </div>
                                <div class="card-description">
                                    <p>
                                        Məhsulu siz seçirsiniz, linkini göndərirsiniz, ödəniş edirsiniz, sifariş tərəfimizdən yerinə yetrilir.
                                        Bu xidmət üçün komissiya haqqı 5% təşkil edir. Bu xidmət yalnız Türkiyədən olunan sifarişlərdə keçərlidir.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="service-card col-lg-6 col-md-6 col-sm-12 d-flex">
                            <div class="card-gif">
                                <img src="imgs/services/transportation.gif" alt="">
                            </div>
                            <div class="card-text">
                                <div class="card-title">
                                    <b>Bağlamaların Daşınması</b>
                                </div>
                                <div class="card-description">
                                    <p>
                                        Dynamic Express olaraq Türkiyədən və Amerikadan bağlamaların sürətli şəkildə daşınmasını həyata
                                        keçiririk, Türkiyədən bağlamaların göndərişi hər gün həyata keçirilir. Amerikadan isə həftədə 1 dəfə.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="service-card col-lg-6 col-md-6 col-sm-12 d-flex">
                            <div class="card-gif">
                                <img src="imgs/services/insurance.gif" alt="">
                            </div>
                            <div class="card-text">
                                <div class="card-title">
                                    <b>Ödənişsiz Sığortalama</b>
                                </div>
                                <div class="card-description">
                                    <p>
                                        Anbarlarımıza daxil olan bütün bağlamalar ödənişsiz olaraq sığortalanır.
                                        Həssas məhsullar olan bağlamaların ödənişsiz sığortalanma qaydalarını nəzərinizə çatdırırıq.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="service-card col-lg-6 col-md-6 col-sm-12 d-flex">
                            <div class="card-gif">
                                <img src="imgs/services/courier.gif" alt="">
                            </div>
                            <div class="card-text">
                                <div class="card-title">
                                    <b>Online Kuryer Sifarişi</b>
                                </div>
                                <div class="card-description">
                                    <p>
                                        Bu xidmət vasitəsilə Bakı anbarımıza daxil olan bağlamarın birbaşa evinizə çatdırılmasını həyata keçiririk.
                                        Kuryer sifarişinin online olaraq aparılması isə işinizi daha da asanlaşdıracaqdır.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="service-card col-lg-6 col-md-6 col-sm-12 d-flex">
                            <div class="card-gif">
                                <img src="imgs/services/post.gif" alt="">
                            </div>
                            <div class="card-text">
                                <div class="card-title">
                                    <b>Online Poçt Sifarişi </b>
                                </div>
                                <div class="card-description">
                                    <p>
                                        Azərbaycanın hansı bölgəsində olmanızdan asılı olmayaraq, bağlamarınızı sizə çatdırırıq.
                                        Online poçt sifarişi vasitəsilə vaxtınıza qənaət edə bilərsiniz.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="service-card col-lg-6 col-md-6 col-sm-12 d-flex">
                            <div class="card-gif">
                                <img src="imgs/services/return.gif" alt="">
                            </div>
                            <div class="card-text">
                                <div class="card-title">
                                    <b>Geriqaytarılma Xidməti</b>
                                </div>
                                <div class="card-description">
                                    <p>
                                        Yanlış və ya defektli gələn məhsulların geri qaytarılması bizimlə həm daha sərfəli, həm də asandır.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="service-card col-lg-6 col-md-6 col-sm-12 d-flex">
                            <div class="card-gif">
                                <img src="imgs/services/door.gif" alt="">
                            </div>
                            <div class="card-text">
                                <div class="card-title">
                                    <b>Qapıda Ödəmə</b>
                                </div>
                                <div class="card-description">
                                    <p>
                                        Bu xidmət sizə Türkiyənin bank kartları ilə ödəniş etmək mümkün olmayan
                                        saytlarından alış-veriş etməyə imkan yaradır. Xidmət haqqı 5% təşkil edir.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="service-card col-lg-6 col-md-6 col-sm-12 d-flex">
                            <div class="card-gif">
                                <img src="imgs/services/callcenter.gif" alt="">
                            </div>
                            <div class="card-text">
                                <div class="card-title">
                                    <b>Operativ Müştəri Xidmətləri</b>
                                </div>
                                <div class="card-description">
                                    <p>
                                        Suallarınızı cavablamaq və yaranmış problemləri aradan qaldırmaq
                                        məqsədilə müştəri xidmətlərimiz operativ olaraq fəaliyyət göstərir.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SECTIONS END -->
</main>