@model object
@section styles {
    <link href="@Url.Content("~/css/about.css")" rel="stylesheet" type="text/css" />
}
@{
    ViewBag.Title = "Haqqımızda";
    Layout = "_Layout";
}

<!-- SECTIONS START -->
<main>
    <section id="about" class="about-sec">
        <div class="container">
            <div class="col-12">
                <div class="about-title d-flex justify-content-center">
                    <b>Haqqımızda</b>
                </div>
                <div class="description d-flex justify-content-center">
                    <p>Bizi yaxından tanıdığınız halda müştərimizə çevrilmək ehtimalınız yüksəkdir.</p>
                </div>
                <div class="image-about">
                    <img src="imgs/about/about.png" width="820" height="400" alt="Image About">
                    <div class="after-element"></div>
                </div>
            </div>
            <div class="col-12 about-story-area">
                <div class="about-story-area-title">
                    <h3>13 il öncə başlayan hekayəmiz...</h3>
                </div>
                <div class="about-story-area-text">
                    <p>
                        Dynamex kuryer şirkəti 13 il logistika sahəsində fəaliyyət göstərən Türkiyə əsaslı Gets Global Lojistik şirkətinin törəmə şirkətidir.
                        Gets Lojistik olaraq hava, quru, dəmir və dəniz yolu ilə daşınmalardan qazandığımız təcrübəni Dynamex-ə tətbiq edərək Azərbaycan xalqına yüksək keyfiyyətli və operativ xidmət göstərməkdən qürur duyuruq.
                        Bizimlə sifariş zamanı siz Türkiyədən daşınan bağlamalarınızı yeni yaranmış və daha az təcrübəyə malik şirkətə deyil, beynəlxalq yük daşıma sahəsində 13 illik tərcübəyə sahib şirkətə həvalə etmiş olursunuz.
                        Dynamex kuryer şirkəti isə 2018-ci ildən etibarən fəaliyyət göstərən sürətli poçt şirkətidir.
                    </p>
                    <p>
                        Dynamex kuryer şirkəti isə 2018-ci ildən etibarən fəaliyyət göstərən sürətli poçt şirkətidir.
                    </p>
                    <p>
                        Şirkətimiz hal-hazırda AZAL, SilkWay, Türk Hava Yolları kimi təcrübəli aviaşirkətlərlə əməkdaşlıq edərək Türkiyədən şəxsi və korporativ yüklərin daşınmasını həyata keçirir.
                    </p>
                    <p>
                        Bizim vasitəmizlə daşınan və beynəlxalq yük daşıma qaydalarına əsasən qablaşdırılmış bütün bağlamalar üçün “Ödənişsiz Sığortalama” xidmətini təklif edirik.
                    </p>
                    <p>
                        Aydındır ki, Türkiyə onlayn alış-veriş mağazaları bəzən məhsulun rəngini, ölçüsünü səhv göndərə bilər və ya məhsul qüsurlu ola bilər.
                        Bu kimi halların qarşısını almaq və müştəri məmnuniyyətini hər zaman yüksək səviyyədə saxlamaq üçün “Geri Qaytarma” xidmətimizi aktivləşdirmişik.
                    </p>
                    <p>
                        Biz bütün Azərbaycan əhalisinin Türkiyədən onlayn alış-veriş etməsini və sifarişlərini sürətli şəkildə əldə etməsini təmin etmək üçün bağlamaları bütün Azərbaycana poçt vasitəsilə çatdırırıq.
                    </p>
                    <p>
                        Bizimlə siz həm də onlayn ödəniş qəbul etməyən, yalnız Türkiyədə “Kapıda Ödeme” tələb edən mağazalardan da alış-veriş edə bilərsiniz.
                    </p>
                    <p>
                        Operativ “Mənim üçün Sifariş Et” xidməti və fasiləsiz işləyən anbarımız, peşəkar müştəri xidmətlərimiz, rahat və zəngin interfeysli veb saytımızla xidmətinizdəyik!
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- SECTIONS END -->