.top-header{
    background-color: #fdfaf6;
    .container{
        padding-left: 3.2rem;
        padding-right: 3.2rem;
        .top-header-right-side{
            a{
                font-size: 14px;
                font-weight: lighter;
                color: black;
            }
            .lang-all{
                color: #7b7b93;
                &:hover{
                    color: black;
                }
                .chevron{
                    -webkit-transition: -webkit-transform .1s ease-in-out;
                    -ms-transition: -ms-transform .1s ease-in-out;
                    transition: transform .1s ease-in-out;
                }
                .chevron-toggle{
                    transform:rotate(-180deg);
                    -ms-transform:rotate(-180deg);
                    -webkit-transform:rotate(-180deg);
                }
            }
            .lang-drop-down{
                display: none;
                .aze{
                    padding: 8px;
                    color: black;
                    &:hover{
                        background-color: whitesmoke;
                        border-radius: 5px;
                        transition: .2s;
                        color: #7b7b93;
                    }
                }
                .eng{
                    padding: 8px;
                    color: black;
                    &:hover{
                        background-color: whitesmoke;
                        border-radius: 5px;
                        transition: .2s;
                        color: #7b7b93;
                    }
                }
                .rus{
                    padding: 8px;
                    color: black;
                    &:hover{
                        background-color: whitesmoke;
                        border-radius: 5px;
                        transition: .2s;
                        color: #7b7b93;
                    }
                }
                .selected{
                    display: none;
                }
            }
            .open{
                display: flex; 
                flex-direction:column; 
                position: absolute; 
                transform: translate(-5px, 55px); 
                background-color: #fdfaf6; 
                border: .9px solid black;
                border-radius: 5px;
                padding: 0px;
            }
            .sign-in{
                color: black;
                font-weight: normal;
                &:hover{
                    color: #606070;
                }
            }
            .sign-up{
                color: white;
                padding-top: 4px;
                padding-bottom: 4px;
                padding-left: 10px;
                padding-right: 10px;
                border-radius: 5px;
                background-color: #fd475d;
                font-weight: normal;
            }
        }
    }
}
.bottom-header{
    box-shadow: 0 1px 5px 2px rgb(237, 235, 235);
    .container{
        padding-left: 4rem;
        padding-right: 4rem;
        .bottom-header-left-side{
            .logo:hover{
                opacity: .9;
                transition: .2s, ease-in-out;
            }
        }
        .bottom-header-menu{
            a{
                color: black;
                font-size: 16px;
                font-weight: normal;
                &:not(.cart):hover{
                    transition: .1s ease-in-out;
                    color: #fd475d;
                }
            }
            .cart{
                font-size: 20px;
                color: black;
                border-radius: 10px;
                background-color: white;
                border: 1px solid #cecee2;
                padding: .20rem .53rem .20rem .53rem;
                .item-count{
                    background-color: #fd475d; 
                    border-radius: 50%; 
                    padding-left: 5.5px;
                    padding-right: 5.5px;
                    color: white; 
                    font-size: 12px; 
                    position: absolute;
                    transform: translate(-2px, -10px);
                }
                &:hover{
                    background-color: #f8f8f8;
                    transition: .2s ease-in-out;
                }
            }
        }
        .bottom-header-right-side{
            .sign-in{
                color: black;
                font-size: 16px;
                border-radius: 10px;
                background-color: white;
                border: 1px solid #7b7b93;
                padding: .57rem 2.2rem .57rem 2.2rem;
                &:hover{
                    color: white;
                    background-color: #fd475d;
                    border: 1px solid #fd475d;
                    transition: .2s ease-in-out;
                }
            }
        }
    }
}