#intro{
    .second-slider{
        .title{
            left: 8%;
            top: 15%;
            h2{
                width: 75%;
                color: #fff;
                font-size: 3.3vw;
                font-weight: bold;
                user-select: none;
            }
        }
        .subtitle{
            left: 8%;
            bottom: 45%;
            p{
                width: 55%;
                color: #fff;
                font-size: 1.2vw;
                user-select: none;
            }
        }
        .button-wrap{
            left: 8%;
            bottom: 20%;
            .button{
                display: flex;
                color: black;
                padding: 1vw 3vw;
                font-size: 1.1vw;
                align-items: center;
                border-radius: 50px;
                justify-content: center;
                background-color: #fff;
            }
        }
        .image{
            right: 8.7%;
            bottom: 19%;
            img{
                height: 22.6vw;
            }
        }
    }
}