@model object
@section styles {
    <link href="@Url.Content("~/css/prohibited-items.css")" rel="stylesheet" type="text/css" />
}
@{
    ViewBag.Title = "Qadağan olunan məhsullar";
    Layout = "_Layout";
}

<main>
    <section id="prohibited-items" class="prohibited-items-sec">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="prohibited-items-title d-flex justify-content-center">
                        <b>Qadağan olunan məhsullar</b>
                    </div>
                    <div class="prohibited-items-description d-flex justify-content-center">
                        <p>Qeyd olunan qadağan olunmuş məhsulların şirkətimiz tərəfindən daşınılması həyata keçirilmir.</p>
                    </div>
                    <div class="prohibited-items-country d-flex justify-content-center">
                        <div class="country-badge">
                            <span class="iconify" data-icon="twemoji:flag-turkey" data-height="25"></span>
                            <span class="country-name">Türkiyə</span>
                        </div>
                    </div>
                    <div class="prohibited-items-list">
                        <ul>
                            <li>Çılçıraq və çərçivə (Qablaşdırılması düzgün olmadıqda).</li>
                            <li>Hər cür silah növləri, döyüş sursatı, hərbi təyinatlı hər cür əşyalar, partlayıcı maddələr, hərbi texnika.</li>
                            <li>Təhlükəli maddələr, eləcə də radioaktiv maddələr və onların hazırlanması texnologiyasına aid materiallar.</li>
                            <li>Narkotik və psixotrop maddələr, onlardan istifadə üçün ləvazimat, həmçinin hazırlanması texnologiyasına aid materiallar.</li>
                            <li>Pornoqrafik əşyalar, əxlaq pozğunluğunu, zorakılığını, terrorizmi təbliğ və reklam edən materiallar.</li>
                            <li>Canlı heyvanlar,bitki və toxumlar.</li>
                            <li>Gizli kameralar, xüsusi məxfi rabitə vasitələri, onların şifrləri və istismarı haqqında ədəbiyyat.</li>
                            <li>Müdafiə, Milli Təhlükəsizlik və Daxili İşlər nazirliklərinin operativ istintaq fəaliyyəti üzrə informasiya sistemləri, sənədləri və arxivləri.</li>
                            <li>Akkumulyatorlar.</li>
                            <li>Qida məhsulları.</li>
                            <li>Dini kitablar.</li>
                            <li>Amortizatorlar.</li>
                            <li>Mühərriklər.</li>
                            <li>Hover Board skuterlər.</li>
                            <li>Maşın yağları və maşın yağının olduğu bütün mallar.</li>
                            <li>Hava nəqliyyatı vasitəsilə daşınması qadağan olunan əşyalar.</li>
                            <li>Azərbaycan Respublikasının ərazisinə idxalı qadağan olunan əşyalar.</li>
                            <li>Türkiyədən litium batareyalar və litium batareyalara sahib texnikalar.</li>
                        </ul>
                    </div>
                    <div class="note">
                        <b>Qeyd: Odlu silah, silah hissələri və ya aksesuarları, optik nişan, optik binokl və döyüş üçün nəzərdə tutulan əşyaların ixracatına icazə yoxdur.</b>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>