#agreement {
  padding: 3rem 18rem;
  text-align: justify;
}
#agreement .agreement-title {
  margin-bottom: 3rem;
}
#agreement .agreement-title b {
  font-size: 35px;
}
#agreement .agreement-content {
  font-size: 15px;
}
#agreement .agreement-content .part {
  margin-bottom: 3rem;
}
#agreement .agreement-content .part a {
  font-size: 15px;
  color: #fd475d;
}