#services {
  padding: 3rem 5.8rem 1rem;
}
#services .services-title {
  margin-bottom: 1rem;
}
#services .services-title b {
  font-size: 35px;
}
#services .services-description {
  margin-bottom: 3rem;
}
#services .services-description p {
  font-size: 14px;
  color: #7b7b93;
}
#services .service-card {
  width: 560px;
  margin-left: 2rem;
  margin-bottom: 5rem;
}
#services .service-card .card-gif {
  margin-right: 2rem;
}
#services .service-card .card-text .card-title {
  margin-bottom: 1rem;
}
#services .service-card .card-text .card-title b {
  font-size: 21px;
}
#services .service-card .card-text .card-description p {
  font-size: 16px;
  color: #7b7b93;
  text-align: justify;
  text-justify: inter-word;
}

@media only screen and (max-width: 1399px) {
  #services .service-card {
    width: 480px;
  }
}
@media only screen and (max-width: 1209px) {
  #services .service-card {
    width: 420px;
  }
}
@media only screen and (max-width: 1089px) {
  #services .service-card {
    width: 560px;
    margin-left: 2rem;
    margin-bottom: 5rem;
  }
  #services .service-card .card-gif {
    margin-right: 2rem;
  }
  #services .service-card .card-text .card-title {
    margin-bottom: 1rem;
  }
  #services .service-card .card-text .card-title b {
    font-size: 21px;
  }
  #services .service-card .card-text .card-description p {
    font-size: 16px;
    color: #7b7b93;
    text-align: justify;
    text-justify: inter-word;
  }
}