#intro{
    padding: 3rem 7rem 0rem;
    .news-title{
        margin-bottom: 1rem;
        b{
            font-size: 35px;
        }
    }
    .news-description{
        margin-bottom: 1rem;
        p{
            font-size: 14px;
            color: #7b7b93;
        }
    }
}