@model object
@section styles {
    <link href="@Url.Content("~/css/agreement.css")" rel="stylesheet" type="text/css" />
}
@{
    ViewBag.Title = "İstifadəçi Razılaşması";
    Layout = "_Layout";
}

<main>
<!-- SECTIONS START -->
<section id="agreement">
<div class="container">
<div class="row">
<div class="agreement-title d-flex justify-content-center">
    <b>İstifadəçi qaydaları</b>
</div>
<div class="agreement-content">
<div class="part one">
    <b>1.İstifadəçi Razılaşmasının predmeti</b>
    <p></p>
    <p class="one-point-one">
        1.1. “Dynamex Express MMC” Şirkəti (bundan sonra – “İcraçı”)
        İcraçının müxtəlif ölkələrdə yerləşən anbarlarından hazırkı İstifadəçi
        Razılaşmasının (bundan sonra – “Razılaşma”) şərtlərinə uyğun olaraq
        <a href="https://dynamex.az">www.dynamex.az</a> saytında qeydiyyatdan keçən yetkinlik yaşına çatmış fiziki
        və hüquqi şəxs (bundan sonra - “Müştəri”) üçün malların (bundan sonra mal
        və ya bağlama) çatdırılması üzrə xidmətləri (bundan sonra - “Xidmətlər”)
        həyata keçirir.
    </p>
    <p class="one-point-two">
        1.2. Müştərinin “dynamex.az” şirkətində
        qeydiyyatdan keçməsi pulsuz və könüllüdür.
        Qeydiyyat <a href="https://dynamex.az/">www.dynamex.az</a> saytında həyata
        keçirilir. Xidmət göstərilməsi şərtləri açıqdır.
        Müştərinin saytda qeydiyyatdan keçməsi hazırkı
        Razılaşmanın və onun bütün əlavələrinin qəbul
        edilməsini bildirir.
    </p>
    <p class="one-point-three">
        1.3. Əgər Müştəri Razılaşmanın heç olmazsa
        bir bəndi ilə razı deyilsə, İcraçının Xidmətlərindən
        istifadə etmək hüququna malik olmur.
    </p>
    <p class="one-point-four">
        1.4. İcraçı hazırkı Razılaşmaya dəyişikliklər
        etmək hüququnu özündə saxlayır ki, bununla əlaqədar
        olaraq Müştəri mütəmadi olaraq Razılaşmanın
        <a href="https://dynamex.az/">www.dynamex.az</a>
        saytında yerləşdiriləcək dəyişikliklərini izləmək
        öhdəliyini götürür.
    </p>
    <p class="one-point-five">
        1.5. İcraçı çatdırılma Xidmətlərinə görə Müştəridən
        “Malın çatdırılması və xidmətlərin ödənilməsi” adlı
        7-ci maddədə göstərilən haqqı alır.
    </p>
</div>
<div class="part two">
    <b>2. Xidmətlərin təsviri</b>
    <p></p>
    <p class="two-point-one">
        2.1. İcraçı Müştəriyə sonradan qablaşdırılması/qablaşmanın
        açılması və İcraçının anbarına (və ya onun səlahiyyətli
        nümayəndəsinin – bundan sonra İcraçının anbarı) göndərilməsi
        üçün Müştəri tərəfindən müstəqil ödənişi aparılmış malların
        alınması üçün şirkətin müxtəlif ölkələrdə yerləşən, anbar ünvanının
        Müştəriyə təqdim edilməsi üzrə xidmətlər göstərir. Hazırkı Razılaşmanın
        məqsədləri üçün: Mal – Müştərinin əldə etdiyidir, Azərbaycana göndərilməsi
        üçün bağlanmış olan mal – Bağlama
    </p>
    <p class="two-point-two">
        2.2. İcraçı Müştəri tərəfindən müstəqil
        olaraq internet-mağazada ödənişi aparılmış
        malları öz anbarına qəbul etmək öhdəliyini
        götürür, bu şərtlə ki, İcraçıdan alınan ünvan
        və malı alana aid məlumatlar dəqiq göstərilmiş olsun.
    </p>
    <p class="two-point-three">
        2.3. Müştərinin İcraçının anbarında və ya
        Azərbaycanda kuryer xidmətinin bölməsində
        Bağlamanı alması anından etibarən İcraçı
        tərəfindən xidmətlər tam həcmdə göstərilmiş
        hesab edilir.
    </p>
    <p class="two-point-four">
        2.4. Xidmətlərin göstərilməsi üçün İcraçı Müştərinin
        razılığı olmadan poçt və kuryer xidməti kimi üçüncü
        şəxsləri cəlb etmək hüququna malikdir.
    </p>
</div>
<div class="part three">
    <b>3. Sifarişin rəsmiləşdirilməsi</b>
    <p></p>
    <p class="three-point-one">
        3.1.Müştəri əvvəlcədən malın keyfiyyətini,
        parametrlərini və xüsusiyyətlərini müstəqil
        şəkildə qiymətləndirərək sifarişi tamamlayır.
    </p>
    <p class="three-point-two">
        3.2. Müştəri göstərilən malların qiymətini
        malın satıcısına ödəmək öhdəliyini götürür.
    </p>
    <p class="three-point-three">
        3.3. Müştəri internet üzərindən alış zamanı çatdırılma
        ünvanı (DYNAMEX EXPRESS MMC-nin müvafiq ölkədə anbar ünvanı)
        və personal məlumatları tam və düzgün göstərməlidir.
        Müştəri tərəfindən internet üzərindən alış zamanı
        çatdırılma ünvanı və ya personal məlumatlar səhv və
        yaxud yalnış doldurularsa və nəticə etibarı ilə bu yüklərin
        çatdırılmasında problem yaradarsa və yaxud çatdırmanı ümumiyyətlə
        mümkünsüz etdiyi halda DYNAMEX EXPRESS MMC heç bir məsuliyyət daşımır.
    </p>
    <p class="three-point-four">
        3.4. İcraçı anbarına qəbul etdiyi malların
        keyfiyyət və dəstliyinə görə məsuliyyət daşımır,
        eləcə də Müştərinin internet-mağaza vasitəsi ilə
        əldə etdiyi mallara zəmanəti təmin etmir.
    </p>
    <p class="three-point-five">
        3.5. İcraçı öhdəlik götürür ki, satıcının poçt
        xidmətinin çatdırdığı məhsulu öz anbarına qəbul
        edəcək ( anbarda saxlanılması qadağan olan məhsullar istisna ),
        çəkəcək və qablaşdıracaq, sonra isə İcraçının Azərbaycandakı
        anbarına nəql edəcəkdir. Mal yalnız alanın imzasının mövcud
        olduğu halda anbar tərəfindən qəbul edilmiş hesab olunur.
        Bağlamanın “Anbara çatdırılıb” statusu təvhil alanın imzası
        mövcud olmadan düzgün kimi nəzərdən keçirilə bilməz.
    </p>
    <p class="three-point-six">
        3.6. İcraçı malı aldıqdan sonra 3 iş günü ərzində
        Müştərini malın İcraçının anbarına qəbul edilməsi
        haqqında müvafiq bildirişin Müştərinin
        <a href="https://dynamex.az">www.dynamex.az</a>
        saytında qeydiyyat zamanı göstərdiyi elektron ünvana
        göndərilməsi yolu ilə bildirişlə məlumatlandırılmasına,
        eləcə də onu Müştərinin şəxsi səhifəsində əks etdirilməsinə
        borcludur. Bəyan edilməmiş bağlamanın İcraçının anbarında
        saxlanma müddəti 30 təqvim günü təşkil edir.
    </p>
    <p class="three-point-seven">
        3.7. Müştəri əldə etdiyi malın poçt xidmətinin
        çatdırılma şərtlərinə və qüvvədə olan Azərbaycan
        və sifariş etdiyi müvafiq ölkənin qanunlarına, o
        cümlədən Azərbaycanın Gömrük məcəlləsinə müvafiq
        olmasına görə məsuliyyət daşıyır ki, buraya malın
        Müştəriyə göndərilməsi üçün zəruri olan malın qabaritləri
        və poçt tarasının çəkisi daxildir, lakin bağlamanın qabaritləri,
        çəkisi və içindəkilərlə məhdudlaşmır.
    </p>
    <p class="three-point-eight">
        3.8. İcraçı o halda Müştəriyə Xidmətlərin göstərilməsindən
        imtina etmək hüququna malikdir ki, mal poçt xidmətinin çatdırılma
        şərtlərinə və qüvvədə olan Azərbaycan və sifariş etdiyi müvafiq
        ölkənin qanunlarına, o cümlədən Azərbaycanın Gömrük məcəlləsinə
        müvafiq olmasın, buraya malın Müştəriyə göndərilməsi üçün zəruri
        olan malın qabaritləri və poçt tarasının çəkisi daxildir, lakin
        bağlamanın qabaritləri, çəkisi və içindəkilərlə məhdudlaşmır.
    </p>
    <p class="three-point-nine">
        3.9. Malın nəql edilməsi avia-daşıma yolu ilə həyata keçirilir.
        Nəqletmənin orta müddəti anbarın yerləşdiyi ölkəyə uyğun olaraq dəyişir.
    </p>
    <p class="three-point-ten">
        3.10.İlin müxtəlif vaxtlarında xarici ölkələrdə
        satıcı şirkətlər tərəfindən malların qiymətində
        edilən endirim kampaniyalarına (bayramlara, Black Friday və s.)
        görə onlayn alışa tələb artır. Bu halda, xarici anbardan
        yerli anbara çatdırılmada gecikmələr baş verə bilər.
        Bu səbəb görə malların alıcıya təhvil verilməsində yaranmış
        gecikmələrə görə şirkətimiz (Dynamex Express MMC) heç bir məsuliyyət daşımır.
    </p>
    <p class="three-point-eleven">
        3.11. Nəqletmənin qiyməti haqqında məlumat malın
        Azərbaycan ərazisinə gəlib çatması ilə Müştərinin
        şəxsi səhifəsində əks olunur.
    </p>
    <p class="three-point-twelve">
        3.12. Malın İcraçının Azərbaycandakı anbarına çatdırılmasından
        sonra İcraçı Müştərini müvafiq bildirişin Müştərinin
        <a href="https://dynamex.az">www.dynamex.az</a> saytında
        qeydiyyat zamanı göstərdiyi elektron ünvana göndərilməsilə malı
        almağın mümkünlüyü haqqında xəbərdar edir. Müştərinin malının
        anbarda saxlanması müddəti 7 təqvim günü təşkil edir.
        Saxlanmanın başlanğıcı malın İcraçının Azərbaycandakı anbarına
        daxil olduğu gün hesab edilir. Müştəri tərəfindən həmin malın
        alınmaması halında Azərbaycandakı anbara malın daxil olmasından
        45 gün keçdikdən sonra İcraçı Müştəriyə əlavə bildiriş göndərmədən
        malı utilləşdirmək hüququna malikdir.
    </p>
    <p class="three-point-thirteen">
        3.13. Bağlamanın üçüncü şəxsə verilməsinə yalnız o hallarda yol
        verilir ki, o, aşağıda sadalanan sənədlərdən birini təqdim edə bilsin:
        <a href="https://dynamex.az">www.dynamex.az</a> saytında müvafiq
        bölmədən etibar etdiyi şəxslərin məlumatlarını əvvəlcədən elavə etmiş
        olsun, qeydiyyatdan keçmiş bağlama alanın şəxsiyyətini təsdiq edən
        sənədin (pasport, sürücülük vəsiqəsi və ya qüvvədə olan Azərbaycan
        qanunvericiliyinə müvafiq olaraq digər sənədin) əslini, Müştəridən
        alınan – üçüncü şəxsin adına notarial qaydada verilmiş etibarnamə
        (üçüncü şəxsin şəxsiyyətini təsdiq edən sənədlə birlikdə).
    </p>
    <p class="three-point-fourteen">
        3.14. Müştərinin bağlamanı lazımı vəziyyətdə alması,
        eləcə də İcraçıya iradlarının olmaması faktı Bağlamanın
        qaiməsindəki və ya elektron lövhədəki imza ilə təsdiq edilir.
    </p>
    <p class="three-point-fifteen">
        3.15 Müştəri "mənim üçün sifariş et" xidmətindən
        istifadə etdikdə müştəridə 15 TL-yə qədər borc
        (qeyd edilən ölçü seçildikdə vəya başqa bir səbəblə bağlı)
        müştəriyə məlumat verilmədən sifariş həyata keçirilə bilər.
        Bu zaman müştəri bağlamasını əldə edən zaman daşınma haqqı
        ilə birlikdə məhsulun alışından yaranan borcu da ödəməlidir
        əks halda bağlama müştəriyə verilə bilməz.Bununla belə sifariş
        prosesində hər hansı problem yarandıqda (məhsulun bitməsi,
        sifariş olunan ölçünün və ya rəngin bitməsi, kampaniyanın başa çatması,
        ödəmə problemi və s.) istifadəçinin ödədiyi məbləğ, 5% komissiya daxil
        olmaqla, əsas məbləğ istifadəçinin balansına geri qaytarılır.
        Sifariş bizim tərəfimizdən həyata keçirildikdən, satıcı firmaya
        ödəniş edildikdən sonra firma tərəfindən hər hansısa bir səbəbdən
        (məhsulun təmin edilməsi satıcı tərəfindən mümkün olmadıqda) ləğv
        (iptal) olunduqda isə müştərinin ödədiyi məbləğ 5% komissiya istisna
        olmaqla, sadəcə məhsul üçün ödənilən əsas məbləğ istifadəçinin balansına
        geri qaytarılır. Qeyd edək ki, endirimlərlə əlaqədar olaraq bəzən bu müddət
        uzana bilər.Qeyd:Sifariş həyata keçirildikdən sonra, ləğv etmək mümkün deyil.
    </p>
</div>
<div class="part four">
    <b>4. Müştərinin vəzifələri</b>
    <p></p>
    <p class="four-point-one">
        4.1. Müştəri müstəqil şəkildə hazırkı
        Razılaşmanın mətni ilə tanış olmaq,
        Razılaşma və onun əlavələrdə dəyişikliklərin
        mövcud olmasını yoxlamaq öhdəliyini götürür.
    </p>
    <p class="four-point-two">
        4.2. Müştərini İcraçını tələb edilən xidmətin
        yerinə yetirilməsi üçün zəruri olan bütün məlumatlarla
        vaxtında təmin edilməsi öhdəliyini götürür. Zəruri olan
        məlumatların çatışmaması halında İcraçı Müştəriyə Xidmətləri
        təqdim etməmək hüququnu özündə saxlayır.
    </p>
    <p class="four-point-three">
        4.3. Müştəri İcraçı tərəfindən ona göstərilən
        xidmətlərlə əlaqədar olan hesabları vaxtında ödəmək
        və xərcləri qarşılamaq öhdəliyini götürür. İcraçı
        Xidmətlərin göstərilməsi üçün ona təqdim edilən vəsaitlərin
        kifayətli olmaması halında Müştəriyə xidmət göstərmir.
    </p>
    <p class="four-point-four">
        4.4. Müştəri əvvəlcədən şəxsi səhifəsində bəyan
        etməklə məhsulun İcraçının müxtəlif ölkələrdə yerləşən
        anbarlarına daxil olmasını müstəqil şəkildə
        <a href="https://dynamex.az">www.dynamex.az </a>
        şəxsi hesabında izləmək öhdəliyini götürür.
    </p>
    <p class="four-point-five">
        4.5. Müştəri təsdiq edir və zəmanət verir ki,
        Müştəriyə üçüncü şəxslərin, malın satıcısı və
        poçt xidmətləri də daxil olmaqla, lakin bununla
        da məhdudlaşmayaraq hərəkətləri nəticəsində dəymiş
        zərərlə əlaqədar olaraq hər hansı bir öhdəliklər və
        xərclər səbəbindən yaranmış mübahisələr üzrə İcraçını
        cavabdeh və ya həmcavabdeh kimi cəlb etməyəcəkdir.
    </p>
    <p class="four-point-six">
        4.6. Bağlamanın alınması anında bağlamanın
        qaiməsində imza etmək və ya elektron lövhədə
        imzasını atmaq. 4.7. Sorğu əsasında müştərinin
        şəxsiyyətini təsdiq edən sənədləri, eləcə də bu
        və ya digər malı internetmağaza vasitəsi ilə əldə
        etməyi təsdiq edən sənədləri təqdim etmək.
    </p>
    <p class="four-point-seven">
        4.8. Müştəri öz adı, soyadı, şəxsiyyət vəsiqəsinin
        seriya nömrəsi, FİN kodunu, yaşayış ünvanı, telefon,
        elektron poçt ünvanını və digər tələb edilən məlumatları
        <a href="https://dynamex.az/">www.dynamex.az</a> saytında
        qeydiyyat zamanı dəqiq göstərmək öhdəliyini götürür.
    </p>
    <p class="four-point-eight">
        4.9.Müştəri tərəfindən gətirilən hər hansı
        bir məhsulun giriş və ya çıxış ölkəsində gömrük
        orqanları tərəfindən yasağlanmış(qadağan edilmiş)
        olması məsuliyyəti həmin şəxsə aiddir. Heç bir
        təzminat daşıyıcı şirkət tərəfindən ödənilə bilməz.
        (saxta markalar,markaların təqlidi və hər hansı daşınması
        yasağlanmış məhsullar.)
    </p>
</div>
<div class="part five">
    <b>5. İcraçının vəzifələri</b>
    <p></p>
    <p class="five-point-one">
        5.1. İcraçı Müştəriyə <a href="https://dynamex.az">www.dynamex.az</a>
        saytında Xidmətlərin təsvirinə, eləcə də hazırkı Razılaşmanın 1.1
        maddəsində göstərilən tərifinə müvafiq olan Xidmətləri təqdim etmək
        öhdəliyini götürür, o şərtlə ki, Müştərinin sorğusu hazırkı müqavilə
        və qüvvədə olan DYNAMEX EXPRESS MMC-yə məxsus anbarların yerləşdiyi
        müvafiq ölkələrin və Azərbaycan qanunvericiliklərinin nəzərdə tutduqları
        qaydalara, tələblərə və məhdudiyyətlərlə ziddiyyət təşkil etməmiş olsun.
    </p>
    <p class="five-point-two">
        5.2. Müştəri haqqında məlumatların məxfiliyini
        qorumaq. Müştəri haqqında məlumatlar üçüncü
        şəxslərə yalnız Azərbaycan qanunvericiliyində
        nəzərdə tutulan hallarda təqdim edilə bilər.
    </p>
    <p class="five-point-three">
        5.3. Müştəriyə onun sifarişinin statusu və yerləşdiyi
        yer haqqında məlumat əldə etmək imkanı vermək.
    </p>
</div>
<div class="part six">
    <b>6. Gömrük rəsmiləşdirməsi</b>
    <p></p>
    <p class="six-point-one">
        6.1.Müştəri tərəfindən sifariş etdiyi məhsulun
        <a href="https://dynamex.az/">www.dynamex.az</a>
        veb saytında bəyan edilməsi (göndərənin adının,
        malın adının və onun invoive sənədinin təqdim edilməsi)
        mütləqdir. Müştəri gömrük rəsmiləşdirilməsi zamanı yük
        barədə tam və dolğun məlumatın verilməsinə və gömrük
        bəyannaməsinin düzgün doldurulmasına görə məsuliyyət daşıyır
    </p>
    <p class="six-point-two">
        6.2. Azərbaycan ərazisinə çatdırılmış malın gömrük rəsmiləşdirilməsi
        prosedurasına görə məsuliyyəti müştəri daşıyır.
    </p>
    <p class="six-point-three">
        6.3. Malın gömrük rəsmiləşdirilməsinə qədər
        Xidmət haqqının ödənilməsi mütləq şərtdir.
    </p>
    <p class="six-point-four">
        6.4. Səlahiyyətli orqanların Müştəri tərəfindən hazırkı
        Razılaşmanın 6.1 maddəsində nəzərdə tutulmuş tələblərini
        yerinə yetirməmək və ya qismən yerinə yetirməsinə görə
        (misal üçün, bağlamanın natamam və ya qeyri-dəqiq bəyan edilməsi,
        daşınması qadağan olan malların mövcud olması) heç bir məsuliyyət daşımır.
    </p>
    <p class="six-point-five">
        6.5. Müştəri tərəfindən Azərbaycan ərazisinə
        gətirilməsi qadağan edilən malın gətirilməsi
        halında belə mal Azərbaycan Dövlət Gömrük orqanları
        tərəfindən müsadirə edilə, müştərinin üzərinə isə
        inzibati-cinayət məsuliyyəti qoyula bilər.
    </p>
</div>
<div class="part seven">
    <b>7. Daşıma haqqı, daşınma şərtləri və ödəniş</b>
    <p></p>
    <p class="seven-point-one">
        7.1. Müştərinin yüklərinin İcraçının müxtəlif ölkələrdəki
        anbarından Azərbaycan Respublikasına və regionlara
        (müvafiq regiona çatdırılma mümkün olduğu halda) çatdırılma
        haqqı <a href="https://dynamex.az">www.dynamex.az</a> saytında yerləşdirilib.
    </p>
    <p class="seven-point-two">
        7.2. Yükün çatdırılma haqqı Müştərinin şəxsi kabineti
        vasitəsilə onlayn və ya ofisdə, nəğd şəkildə ödənilə bilər.
    </p>
    <p class="seven-point-three">
        7.3. İATA-nın (Beynəlxalq Hava Nəqliyyatı Assosiasiyası)
        dərc etdiyi TACT Rules (Yük Hava Daşıma Təlimatı) qaydalarına
        əsasən hansı çox olduğundan asılı olaraq daşıma haqqının hesablanması
        üçün əsas kimi yükün həcm ölçüləri və yaxud faktiki çəkisi götürülür.
    </p>
    <p class="seven-point-four">
        7.4. Müştəri, İcraçının internet səhifəsində
        ( <a href="https://dynamex.az">www.dynamex.az</a> internet səhifəsində “Daşınılması qadağandır” )
        qeyd olunan daşınması qadağan edilmiş əşyaların siyahısı ilə tanış olmalıdır .
    </p>
    <p class="seven-point-five">
        7.5. Müştərinin sifarişləri, satıcı (və ya satıcılar) tərəfindən
        ayrı ayrı bağlamalarda (fərqli track/izləmə/ nömrələrlə) fərqli
        və ya eyni tarixdə anbara göndərilərsə, bağlamalar orijinal track/izləmə/
        nömrələri ilə, ayrı ayrılıqda daşınmaya qəbul olunur və emal edilir.
    </p>
    <p class="seven-point-six">
        7.6. Müştəri hazırkı şərtləri qəbul etməknən
        <a href="https://dynamex.az">www.dynamex.az</a>
        saytında dərc olunmuş aşağıdakı hesablama vasitələri
        (online kalkulyatorlar) ilə tanış olduğunu və tam anladığını
        (riyazi ölçmə, parametrlərin konvertasiyası, həcmin ölçülməsi və s)
        təsdiq edir: <br>
        • Qiymət və çatdırılmanın hesablanması kalkulyatoru <br>
        • Çəki və həcm formulası <br>
        • Ölçü konvertoru • Ölçülər cədvəli <br>
        • Qabarit çəki hesablamalar <br>
    </p>
    <p class="seven-point-seven">
        7.7. Hazırkı şərtlərin 7.5-ci maddəsində nəzərdə
        tutulmuş şərtlərlə və hazırkı şərtlərlə qeydiyyat
        zamanı tanış olan və onları qəbul edən Müştərinin,
        sonradan daşıma haqqı, şərtləri, ödəniş və s., digər
        sözlərlə -yükün ona çatdırılması ilə əlaqədar İcraçının
        hazırkı şərtlərə tam riayət etdiyi təqdirdə Müştərinin
        ona qarşı olan hər hansı bir tələbi əsassız sayılır.
        Misalçün - daşıma haqqının həcm və yaxud faktiki çəki
        üzrə hesablanması qaydası ilə tanış olmamış, Müştərinin
        sonradan yaranan tələbi əsassızdır və qəbul edilmir.Qeyd
        edək ki,Xarici anbara daxil olan bağlamaların geri iadəsi mümkün deyil.
    </p>
    <p class="seven-point-eight">
        7.8. İcraçı daşınma haqqı, şərtlər və ödəniş qaydalarına
        istənilən an dəyişikliklərin edilməsi hüququnu özündə saxlayır.
        Bu dəyişikliklər qəbul edilən andan dərhal sonra İcraçının rəsmi
        veb səhifəsində tanış olunması üçün dərc olunur.
    </p>
    <p class="seven-point-nine">
        7.9. Müştəri anlayır və qəbul edirki daşıma üçün İcraçının müvafiq ölkədə
        yerləşdiyi anbarına daxil olan yükün Azərbaycan Respublikasına göndərilməsi
        məqsədilə emalı (yenidən qablaşdırılması, paletə yığılması, hava limanına
        göndərilməsi), adi qaydada Azərbaycan Respublikasında qəbul edilmiş daşıma
        müqaviləsi/şərtləri/prosedurlarından fərqlidir. Bu məqsədlə Müştərinin nəzərinə
        yükün daşıma üçün göndərilməsinə dair qısa məlumat verilir: Yüklər həftə ərzində
        İcraçının müvafiq ölkədə yerləşən anbarına daxil olur və orda daşıma üçün emal
        olunur (yenidən qablaşdırma, paletlərə yığılma, hava limanına göndərilmə) və müəyyən
        olunmuş günlər daşımaya göndərilir. İcraçının anbarının digər ölkədə yerləşməsini
        nəzərə alaraq, saat fərqini nəzərə alaraq, elektron əlaqə vasitələrində yarana bilən
        gecikmələri və dayanmaları, daşıma prosesinə cəlb olunmuş üçüncü şəxslər və
        şirkətlərin işinə Azərbaycan Respublikası ərazisindən İcraçı tərəfindən tam nəzarətin
        edilə bilməməsini nəzərə alaraq, Müştərinin gec məlumat verməsini və digər obyektiv halları
        nəzərə alaraq, Müştəri tərəfindən yükün daşımasından imtina etməsi tələbi
        (DYNAMEX EXPRESS MMC-nin xidmətlərindən imtina etməsi) bəzi hallarda icrası mümkün olmaya
        bilər. Misalcun: Müştəri yükün daşımasından imtina tələbini verdiyi zaman onun yükü artıq
        paletə yığılıb və daşıma üçün hava limanına göndərilib. Bu halda Müştəri başa düşməlidir
        ki, onun yükün daşımasından imtinası səbəbindən, bütün göndərişi dayandıraraq paletləri
        yenidən sökübonun yükünü ayırmaq və geri qaytarmaq həm xərclər həmdə prosedur baxımından
        mümkünsüzdür. Lakin buna baxmayaraq, İcraçı Müştərinin imtina tələbinə əsasən, onun yükünün daşıma
        üçün dayandırılması məqsədilə bütün mümkün, zəruri və ağlabatan tədbirləri görəcək.
    </p>
    <p class="seven-point-ten">
        7.10. Müştəri hazırkı şərtləri qəbul edən zaman tam olaraq
        anlayır və qəbul edirki, yükün daşımasından onun imtina tələbi
        İcraçı tərəfindən obyektiv səbəblərdən icra edilmədiyi halda,
        Müştərinin İcraçıya heç bir iddiası və yaxud tələbi qəbul edilmir və əsassızdır.
    </p>
    <p class="seven-point-eleven">
        7.11. Müştəri tərəfindən xidmətin ödənişi
        Azərbaycan Respublikasında şirkətin bank hesabının
        olduğu bankın (Kapital Bank ASC) ödəniş gününə olan
        məzənnəsi ilə İcraçı tərəfindən xidmətin göstərildiyi
        valyutaya əsasən (Avropa ölkələrindən daşınma-AVRO, digər ölkələr-ABŞ dolları)
        Azərbaycan Respublikası manatı (AZN) ilə aparılır.
    </p>
</div>
<div class="part eight">
    <b>8. Yükün saxlanması, təhvil verilməsi və kuryer sifarişi ilə bağlı şərtlər</b>
    <p></p>
    <p class="eight-point-one">
        8.1. İcraçının Bakı və ya regionda (olduğu təqdirdə)
        yerləşən anbarına daxil olan yüklər 7 (yeddi) gün
        ərzində Müştəri tərəfindən təhvil alındığı təqdirdə
        həmin yüklərə anbar saxlama haqqı tətbiq etmir.
    </p>
    <p class="eight-point-two">
        8.2. Hazırkı şərtlərin 8.1-ci maddəsində nəzərdə tutulmuş
        müddət Müştəri tərəfindən ötürüldüyü təqdirdə həmin yük təhvil
        alınan zaman (çəki və yer sayından asılı olmayaraq) hər əlavə
        gün üçün 0.50 AZN saxlama haqqı tutulur.Bağlama həcmi çəki ilə
        hesablanarsa,bu məbləğ daşınma haqqının 3 faizi təşkil edir.
    </p>
    <p class="eight-point-three">
        8.3. Müştərinin onun adına Bakı ofisinə daxil olmuş
        bağlamanın təhvil alınmasına dair İcraçı tərəfindən şifahi
        və yaxud yazılı xəbərdarlıqların verilməsinin son həddi (
        yükün anbara daxil olduğu gündən) 45 gün müəyyən edilir.
        45 gündən sonra şirkət məhsulun məhv edilməsi hüququna malikdir.
        <strong>Qeyd edək ki</strong>, müştəri şəxsi Dynamex hesabına daxil olaraq sifariş
        etdiyi bütün bağlamaları şəxsən özü izləməli və bağlama Baki ofisi
        statusu aldıqda yaxınlaşıb təhvil almalıdır.SMS bildirişlərinin göndərilməsi
        sadəcə müştəri məmnuniyyətinin ölçülməsi üçündür.
    </p>
    <p class="eight-point-four">
        8.4. Müştərinin onun adına xarici anbara
        daxil olmuş bağlamanın bəyannaməsinin doldurulmasına
        dair İcraçı tərəfindən şifahi və yaxud yazılı
        (e-mail vasitəsilə) xəbərdarlıqların verilməsinin son həddi
        (bağlamanın anbara daxil olduğu gündən) 3 (üç) ay müəyyən edilir.
        3 aydan sonra şirkət məhsulun məhv edilməsi hüququna malikdir.
    </p>
    <p class="eight-point-four-point-one">
        8.4.1. Müştərinin onun adına ABŞ anbarına daxil
        olmuş bağlamanın anbarda ödənişsiz saxlanılmasının
        son həddi 14 (on dörd) gün müəyyən edilir. Nəzərdə
        tutulmuş müddət Müştəri tərəfindən ötürüldüyü təqdirdə
        anbarda saxlanıldığı hər əlavə gün üçün hər 1 (bir)
        bağlamaya görə 1 USD miqdarında saxlama haqqı hesablanır.
    </p>
    <p class="eight-point-five">
        8.5. Müştərinin onun adına müvafiq ölkədə
        yerləşən anbara daxil olmuş bağlamanın bəyannaməsinin
        doldurulmasına dair İcraçı tərəfindən şifahi və yaxud
        yazılı (e-mail vasitəsilə) xəbərdarlıqların verilməsinin
        son həddi (bağlamanın anbara daxil olduğu gündən) 30 (otuz)
        gün müəyyən edilir. 30(otuz) gündən sonra şirkət məhsulun
        məhv edilməsi hüququna malikdir.
    </p>
    <p class="eight-point-six">
        8.6. Müştəri tərəfindən hər hansı səbəbdən yükün
        təhvil alınmasından imtina, yalnız, onun, şirkətin
        rəsmi veb-səhifəsində yaratdığı şəxsi kabinet üzərindən
        (e-mail) daxil olan cavabdan sonra qəbul edilir.
    </p>
    <p class="eight-point-seven">
        8.7. Hazırkı şərtlərin 8.3-cümaddəsində nəzərdə
        tutulmuş müddət ötdükdə və Müştəri tərəfindən onun
        adına daxil olan yük qəbul edilmədikdə və ya həmin yükün
        aqibəti barədə heç bir rəsmi (şəxsi kabinet email vasitəsilə)
        göstəriş verilmədiyi və yaxud Müştəri tərəfindən yükdən rəsmən
        imtina edildiyi halda (şəxsi kabinet emailvasitəsilə),
        həmin yükün məhv edilməsi və yaxud satışa çıxarılması barədə
        qərar İcraçının mülahizəsi əsasında həll edilir.
    </p>
    <p class="eight-point-eight">
        8.8. Müştərinin adına daxil olan yükün təhvili
        onun eyniləşdirilməsini mümkün edən sənəd əsasında
        həyata keçirilir. Müştəri şəxsən onun adına daxil olan
        yükü təhvil ala bilmədiyi təqdirdə, yük Müştərinin onu
        təhvil alınmasına dair verdiyi və etibarnamədə göstərilən şəxsə təhvil verilə bilər.
    </p>
    <p class="eight-point-nine">
        8.9. Müştəri bağlamanı təhvil alarkən bağlamanın
        tam və zədəsiz halda olduğunu yoxlamalı və yalnız
        buna əmin olduqdan sonra ödəniş edib bağlamanı təhvil
        almalıdır. Əks təqdirdə bağlamanın məhz daşınma zamanı
        zədələndiyi haqqında iddia qəbul edilmir.
    </p>
    <p class="eight-point-ten">
        8.10. Müştəri anlayır və qəbul edirki İcraçı beynəlxalq
        daşıma qaydalarına əsasən onun müvafiq ölkədə yerləşən
        anbarına Müştərinin daxil olan yükün qablaşdırmasını,
        daşınma məqsədilə, yükü zədələməmək şərtilə, yenidən
        qablaşdırmaq hüququna malikdir - misalcun iri qabaritli
        qablamada olan kiçik ölçülü yükü ona uyğun olan kiçik
        qablamaya yerləşdirir.
    </p>
    <p class="eight-point-eleven">
        8.11. Kuryer sifarişi Dynamex.az saytı vasitəsiylə onlayn olaraq
        həyata keçirilir və bu xidmət haqqı kuryer tariflərinə əsasən hesablanılır.
        Kuryer haqqının limiti 5 kq olaraq müəyyən edilib.5 kq-dan artıq olan hər kq
        üçün 0.50 AZN miqdarında məbləğ kuryer haqqına əlavə olunur. Kuryer sifarişini
        "redaktə" etmək mümkün deyil.Kuryer çatdırılması kuryerin bağlamanı təhvil
        alınmasından sonraki 48 saat ərzində icra edilir. Kuryer sifarişindən imtina
        edildikdə bağlamalar anbara qaytarılır və "Bakı ofisi" statusu alır ancaq bu
        halda kuryer ödənişi qüvvədə qalır.Kuryer sifarişindən icraçının imtinası o
        halda baş verir ki, ünvan ,mobil nömrə yalnış olduqda (qeyd edilmədikdə) və ya
        müştəri qeyd etdiyi ünvanda olmadığı halda.Sifariş növbəti günə,müştərinin təkrar
        sifariş etməsindən sonra 48 saat ərzində həyata keçirilir. <br>
        <strong>QEYD:</strong> Bağlamalar kuryer ünvana yaxınlaşan zaman yoxlanılmalıdır.Hər hansı bağlama ilə bağlı problem yaşanarsa müştəri yerindəcə və ya təhvil aldıqdan 24 saat ərzində məlumat verməlidir.Əks halda sorğular əsassız sayılır və heç bir tədbir həyata keçirilmir.
    </p>
</div>
<div class="part nine">
    <b>9. Baxışın keçirilməsi hüququ</b>
    <p></p>
    <p class="nine-point-one">
        9.1. Müştəri anlayır və qəbul edirki, İcraçının və
        yaxud hər hansı səlahiyyətli dövlət qurumunun
        (gömrük və s.) istənilən anda yükü açmaq və ona
        baxışın keçirtməsi hüququ vardır.
    </p>
</div>
<div class="part ten">
    <b>10. Yüklərin qorunmasına görə məsuliyyət</b>
    <p></p>
    <p class="ten-point-one">
        10.1. İcraçının, Müştəri tərəfindən internet üzərindən
        alınan və İcraçıya daşınma üçün verilən, yükün qorunmasına
        dair məsuliyyəti həmin yükün İcraçının müvafiq ölkədə yerləşən
        anbarına daxil olduğu andan başlayır və həmin yükün Müştəriyə
        təhvil verilən anadək davam edir.
    </p>
    <p class="ten-point-two">
        10.2. İcraçı onun müvafiq ölkədə olan anbarına
        (həmin ölkənin kuryer və ya poçt vasitəsilə)
        zədələnmiş və yaxud Müştərinin internet üzərindən
        sifariş etdiyi yükdən fərqli yük daxil olan hallara,
        həmçinin beynəlxalq yük daşınma qaydalarına əsasən düzgün
        qablaşdırılmamış, lazımı qoruyucu vasitələrlə əhatə olunmamış
        (hava yastıqları, penoplastlarlar olan, fiziki zədə olmayan) və
        qutu üzərinə məhsulun daşınma qaydaları barədə xüsusi işarələr
        (məsələn, “fragile”) əlavə olunmamş bütün həssas məhsulların
        daşınması zamanı yükün zədələnməsinə görə heç bir məsuliyyət daşımır.
    </p>
</div>
<div class="part eleven">
    <b>11.Yükün sığortalanması, zədələnməsi, iadə şərtləri və iddianın verilməsi</b>
    <p></p>
    <p class="eleven-point-one">
        11.1. Daşıma üçün qəbul edilən yüklər sığortalanmır.
    </p>
    <p class="eleven-point-two">
        11.2. Müştərinin daşıma üçün İcraçıya təqdim etdiyi yük İcraçının
        məsuliyyəti çərcivəsində olduğu zaman sonuncunun qəsdən yol verdiyi
        hərəkətlər nəticəsində zədələnərsə və yaxud korlanarsa, Müştəri zədə
        və yaxud korlanma faktına əsasən yükün tam invoys dəyərini və yaxud
        faktiki dəymiş ziyanı ödəyə bilər. Bağlama İcraçının müvafiq ölkədə
        yerləşən anbarlardan hansısa birinə qəbul edilib, lakin, nəzərdə tutulmuş
        reyslə gəlmədiyi təqdirdə (bağlama itib yaxud onun barədə heç bir məlumat yoxdur),
        həmin bağlamanın İcraçı tərəfindən axtarışına 30 (otuz) iş günü vaxt ayrılır.
        Bu müddət müştərinin rəsmi sorğusu (e-mail vasitəsiylə) daxil olduğu gündən
        hesablanır.Bağlamanın bu müddət ərzindətapılmadığı təqdirdə Müştəriyə kompensasiya
        ödənilir. Kompensasiya o şərtlə ödənilir ki, Müştəri yükün ona məxsus olduğunu və
        onun müvafiq qiymətə internet üzərindən aldığını sübut edən bütün məlumatları
        təqdim etsin. Bura aiddir: • İnternet mağazanın təqdim etdiyi order, invoys
        (burada yükün/əşyanın şəkli, miqdarı, qiyməti, bağlamanın track nömrəsi və s.
        məlumatlar öz əksini tapır) Bank hesabından çıxarış ( ödənişin təsdiqini sübut
        edən bildiriş ) İcraçı bağlamanınonun müvafiq ölkədə yerləşən anbarına qəbul
        edilmədiyini, Müştəri isə kuryer şirkətlərinin saytına əsasən bu track nömrəli
        bağlamanın məhz bu ünvana çatdırıldığını israr edirsə, bu halda Müştəri kuryer
        şirkətinin sözügedən bağlamanın İcraçıya təhvil verdiyini sübut edən sənəd təqdim
        etməlidir. Yalnız təqdim olunan bu sənəd əsasında yükün həqiqətən İcraçıya təhvil
        verildiyi sübut olunduqdan sonra (qəbul edən şəxsin imzası əsasında), Müştəriyə
        kompensasiya verilir. Bunun üçün Müştəri qeyd olunan sənədləri təqdim etməlidir: <br>
        • Mağazanın təqdim etdiyi order, invoys (burada əşyanın şəkli, miqdarı, qiyməti,
        bağlamanın track nömrəsi və s. məlumatlar öz əksini tapır) <br>
        • Bank hesabından çıxarış (ödənişin təsdiqini sübut edən bildiriş) <br>
        • Bağlamanın İcraçının anbarına qəbul edildiyini sübut edən imzalı sənəd. <br>
    </p>
    <p class="eleven-point-three">
        11.3 Müştəri yükü İcraçının anbarında təhvil alarkən
        onu həmin ərazini tərk etmədən yoxlamalı və hər hansı bir
        zədə və ya çatışmamazlıq olduğu təqdirdə dərhal yerindəcə bu
        haqda İcraçını məlumatlandırmalıdır. Ofisi/anbarı tərk edəndən
        sonra yükün tərkibində hər hansı bir əşyanın çatışmadığı və ya
        zədələndiyi iddiası qəbul edilmir.
    </p>
    <p class="eleven-point-four">
        11.4 Dynamex Express şirkəti vasitəsi ilə yalnız
        daşınması həyata keçirilən bağlamaların qaytarılması
        ödənişli əsaslarla həyata keçiriləcəkdir.
    </p>
    <p>
        Qaytarılma tarifi daşınma tariflərinə görə bağlamanın
        çəkisi əsasında müəyyən edilir. Şərtlər:
    </p>
    <p>
        Bağlama yalnız səhv məhsul göndərilən zaman, məhsul zədəli, qüsurlu
        (Qüsur ofisdə aşkarlanmalıdır.) olduqda, rəngi və ya ölçüsü səhv gələrsə,
        geri qaytarılır.
    </p>
    <p>
        Bağlama geri qaytarılma üçün Bakı ofisinə daxil
        olduğu gündən etibarən növbəti 2 iş gün ərzində
        məhsul ofisi tərk etmədən yoxlanılarsa və yuxarıda
        qeyd edilən hallardan biri aşkarlanarsa, faktura
        sənədi ilə qəbul olunur.
    </p>
    <p>
        Qeyd: Yuxarıda qeyd olunan şərtlərə əməl olunmazsa,
        bağlamaların satıcıya geri göndərilməsi həyata keçirilmir.
        Geri qaytarılma yalnız satıcı mağazanın qaytarma şərtləri
        daxilində həyata keçirilir.
    </p>
</div>
<div class="part twelve">
    <b>12. Fors Major</b>
    <p></p>
    <p class="twelve-point-one">
        12.1. Tərəflər fors-major səbələrinə görə hazırkı şərtlər
        üzrə götürülmüş öhdəlikləri vaxtında, tam və lazımınca icra
        edə bilmədikdə, həmin öhdəliyin icrası vəzifəsindən və bununla
        bağlı məsuliyyətdən müvafiq nisbətdə azad edilirlər. Bu maddədə
        “forsmajor” termininin işlədilməsi təbii fəlakətlər, epidemiya,
        partlayışlar, yanğınlar, zəlzələ, qasırğa, sunami, tufan, müharibə,
        vətəndaş müharibəsi, xarici dövlətlər tərəfindən hərbi müdaxilə,
        inqilablar, vətəndaş ixtişaşları və s. analoji səbəblər hökumətin
        və digər səlahiyyətli orqanların qanuni sərəncamları, həmçinin də
        ölkənin ərazisindən kənar gözlənilməz və həlli hökumət (və ya tərəflər)
        tərəfindən qeyri mümkün ola bilən səbəbləri özündə cəmləşdirir.
    </p>
    <p class="twelve-point-two">
        12.2. Yuxarıda göstərilmiş səbəblərin və zamanının
        hüquqi cəhətcə təsdiqi səlahiyyətli orqanlar tərəfindən
        verilmiş arayışlar əsasında müəyyən olunur.
    </p>
    <p class="twelve-point-three">
        12.3. Fors major hadisələri baş verdikdə müqavilənin
        şərtlərində göstərilən hüquq və vəzifələrin icrası vaxtı
        adı çəkilən hadisələrin müddəti dövrü qədər uzadılır.
    </p>
    <p class="twelve-point-four">
        12.4. Tərəflər bir-birini hazırkı şərtlərin yerinə
        yetirilməsini gecikdirən fors major səbəbinin başlanması
        və bitməsi məlumatını tez bir zamanda elektron poçt, teleqraf,
        teleks və ya telefaks iləməlumatlandırmalıdır.
    </p>
    <p class="twelve-point-five">
        12.5. Tərəflər fors major hadisəsi baş verdiyi halda hər
        hansı maddi və ya mənəvi zərərin qarşısını almağa çalışmalıdır.
    </p>
</div>
<div class="part thirteen">
    <b>13. Digər hallar</b>
    <p></p>
    <p class="thirteen-point-one">
        13.1. Hazırkı şərtlər Azərbaycan Respublikasının
        qüvvədə olan qanunvericiliyi əsasında tənzimlənir.
    </p>
    <p class="thirteen-point-two">
        13.2. Tərəflər arasında yaranan hər hansı anlaşılmazlıq və ya
        mübahisə qarşılıqlı anlaşma və razılıq əsasında həll olunur.
    </p>
    <p class="thirteen-point-three">
        13.3. Tərəflər qarşılıqlı anlaşma və ya razılaşma əldə edə bilmədikləri
        halda Azərbaycan Respublikasının müvafiq məhkəməsinə müraciət edə bilərlər.
    </p>
</div>
</div>
</div>
</div>
</section>
<!-- SECTIONS END -->
</main>