@model object
@section styles {
    <link href="@Url.Content("~/css/news.css")" rel="stylesheet" type="text/css" />
}
@section scripts {
    <script src="js/news.js" defer=""></script>
}
@{
    ViewBag.Title = "Yeniliklər";
    Layout = "_Layout";
}

<main>
    <!-- SECTIONS START -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="news-title d-flex justify-content-center">
                    <b>Xəbərlər və yeniliklər</b>
                </div>
                <div class="news-description d-flex justify-content-center text-center">
                    <p>
                        Xidmətlərimizlə bağlı ən son yeniliklər və müxtəlif mövzularda<br>
                        məlumatlandırıcı bloqlar burada!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="news">
        <div class="sort-wrap d-flex flex-column align-items-end">
            <span class="main noselect">Yeniliklər</span>
            <span class="chev">
                <span class="iconify" id="chevron" data-icon="ci:chevron-big-down" style="color: black;"></span>
            </span>
            <div class="options gap-2">
                <a href="#" id="op-bulletin" class="op-selected">Yeniliklər</a>
                <a href="#" id="op-news">Xəbərlər</a>
                <a href="#" id="op-blogs">Bloqlar</a>
            </div>
        </div>
        <div class="container">
            <div class="row gap-4 justify-content-center" style="margin-bottom: 5rem;">
                <a href="#" class="card col-lg-3 col-md-5 col-sm-12">
                    <img src="imgs/news/summer-discount.png" alt="">
                    <div class="detail noselect d-flex flex-column justify-content-evenly">
                        <b class="title d-block">YAY Endirimləri üzərinə 0% komissiya!</b>
                        <span class="posted-date d-block">28.07.2022</span>
                    </div>
                </a>
                <a href="#" class="card col-lg-3 col-md-5 col-sm-12">
                    <img src="imgs/news/Yay aylarında 28 may filialımızın iş saatlarını artırdıq.jpg" alt="">
                    <div class="detail d-flex flex-column justify-content-evenly">
                        <b class="title d-block">Yay aylarında 28 may filialımızın iş saatlarını artırdıq.</b>
                        <span class="posted-date d-block">17.07.2022</span>
                    </div>
                </a>
                <a href="#" class="card col-lg-3 col-md-5 col-sm-12">
                    <img src="imgs/news/memar-ecemi-tehvil-mentegesi.png" alt="">
                    <div class="detail d-flex flex-column justify-content-evenly">
                        <b class="title d-block">Dynamex MEMAR ƏCƏMİ təhvil məntəqəsin açdı – Türkiyə və Amerikadan daşınma.</b>
                        <span class="posted-date d-block">28.06.2022</span>
                    </div>
                </a>
                <a href="#" class="card col-lg-3 col-md-5 col-sm-12">
                    <img src="imgs/news/yaygeyimleri.png" alt="">
                    <div class="detail d-flex flex-column justify-content-evenly">
                        <b class="title d-block">Yay geyimlərinə heç gözləmədiyiniz fürsət təklifi!</b>
                        <span class="posted-date d-block">28.07.2022</span>
                    </div>
                </a>
                <a href="#" class="card col-lg-3 col-md-5 col-sm-12">
                    <img src="imgs/news/bakixanovachildi.png" alt="">
                    <div class="detail d-flex flex-column justify-content-evenly">
                        <b class="title d-block">
                            Dynamex BAKIXANOV təhvil məntəqəsin açdı – Türkiyə və Amerikadan daşınma.
                        </b>
                        <span class="posted-date d-block">28.07.2022</span>
                    </div>
                </a>
                <a href="#" class="card col-lg-3 col-md-5 col-sm-12">
                    <img src="imgs/news/yayheyacani.jpg" alt="">
                    <div class="detail d-flex flex-column justify-content-evenly">
                        <b class="title d-block">YAY həyacanını 0% komissiya ilə daha da artırdıq - Dynamex.az</b>
                        <span class="posted-date d-block">22.05.2022</span>
                    </div>
                </a>
                <a href="#" class="card col-lg-3 col-md-5 col-sm-12">
                    <img src="imgs/news/Yeni-is-saatlari.png" alt="">
                    <div class="detail d-flex flex-column justify-content-evenly">
                        <b class="title d-block">Filial və Təhvil məntəqələrimiz yeni iş saatları</b>
                        <span class="posted-date d-block">20.05.2022</span>
                    </div>
                </a>
                <a href="#" class="card col-lg-3 col-md-5 col-sm-12">
                    <img src="imgs/news/Yeni-is-saatlari.png" alt="">
                    <div class="detail d-flex flex-column justify-content-evenly">
                        <b class="title d-block">Bayram günlərində iş qrafikimiz</b>
                        <span class="posted-date d-block">30.04.2022</span>
                    </div>
                </a>
                <a href="#" class="card col-lg-3 col-md-5 col-sm-12">
                    <img src="imgs/news/azin-her-noqtesinde.png" alt="">
                    <div class="detail d-flex flex-column justify-content-evenly">
                        <b class="title d-block">Azərbaycanın hər bir nöqtəsində sizlərin Xidmətinizdəyik - Dynamex.az</b>
                        <span class="posted-date d-block">27.04.2022</span>
                    </div>
                </a>
                <a href="#" class="card col-lg-3 col-md-5 col-sm-12">
                    <img src="imgs/news/nezerine1.png" alt="">
                    <div class="detail d-flex flex-column justify-content-evenly">
                        <b class="title d-block">Müştərilərimizin nəzərinə - Dynamex.az</b>
                        <span class="posted-date d-block">19.04.2022</span>
                    </div>
                </a>
                <a href="#" class="card col-lg-3 col-md-5 col-sm-12">
                    <img src="imgs/news/bir-yox.jpg" alt="">
                    <div class="detail d-flex flex-column justify-content-evenly">
                        <b class="title d-block">Sizə 1 YOX, 2 YOX 3 MÖHTƏŞƏM kampaniya təklif edirik!</b>
                        <span class="posted-date d-block">26.03.2022</span>
                    </div>
                </a>
                <a href="#" class="card col-lg-3 col-md-5 col-sm-12">
                    <img src="imgs/news/novzur.png" alt="">
                    <div class="detail d-flex flex-column justify-content-evenly">
                        <b class="title d-block">Novruz 0% komissiya ilə gətirdik - Dynamex.az</b>
                        <span class="posted-date d-block">16.03.2022</span>
                    </div>
                </a>
            </div>
            <div class="pagination-wrap d-flex justify-content-center gap-3">
                <a href="##" class="prev disabled">
                    <span class="iconify" data-icon="bx:left-arrow-alt" style="color: #8c8c8c;" data-height="24"></span>
                </a>
                <ul class="pagination gap-3">
                    <li class="page">
                        <a class="go-page active-page" href="##">1</a>
                    </li>
                    <li class="page">
                        <a class="go-page" href="##">2</a>
                    </li>
                    <li class="page">
                        <a class="go-page" href="##">3</a>
                    </li>
                    <li class="page">
                        <a class="go-page" href="##">4</a>
                    </li>
                    <li class="page">
                        <a class="go-page" href="##">5</a>
                    </li>
                    <li class="page">
                        <a class="go-page" href="##">6</a>
                    </li>
                    <li class="page">
                        <a class="go-page" href="##">7</a>
                    </li>
                    <li class="page">
                        <a class="go-page" href="##">8</a>
                    </li>
                    <li class="page">
                        <a class="go-page" href="##">9</a>
                    </li>
                </ul>
                <a href="##" class="next">
                    <span class="iconify" data-icon="bx:right-arrow-alt" style="color: #8c8c8c;" data-height="24"></span>
                </a>
            </div>
        </div>
    </section>
    <!-- SECTIONS END -->
</main>