@model Register
@section styles {
    <link href="@Url.Content("~/css/register.css")" rel="stylesheet" type="text/css" />
}
@section scripts {
    <script src="js/register.js" defer=""></script>
}
@{
    ViewBag.Title = "Qeydiyyat Formu";
    Layout = "_Layout";
}

<main>
<!-- SECTIONS START -->
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="register-title d-flex justify-content-center">
                <b>Dynamex-ə xoş gəlmişsiniz!</b>
            </div>
            <div class="register-description d-flex justify-content-center">
                <p>Şəxsi hesabınızı yaradın!</p>
            </div>
        </div>
    </div>
</section>
<section id="register">
<div class="container">
<div class="row">
<div class="left col-lg-7 col-md-12">
<div class="register-form">
<div class="title">
    Qeydiyyat formu
</div>
@* <div class="customer-cat"> *@
@*     <div class="natural person selected py-2 px-4"> *@
@*         <i> *@
@*             <span class="iconify" data-icon="ic:baseline-person-outline" data-height="24"></span> *@
@*         </i> *@
@*         <span>Fiziki şəxs</span> *@
@*     </div> *@
@*     <div class="juridical person py-2 px-4"> *@
@*         <i> *@
@*             <span class="iconify" data-icon="bx:buildings" data-height="22"></span> *@
@*         </i> *@
@*         <span>Hüquqi şəxs</span> *@
@*     </div> *@
@* </div> *@
<form method="post" class="form col-12 natural-person">
    <div class="form-comp">
        <div class="form-group col-5 d-flex flex-column">
            <input asp-for="FirstName" name="name" placeholder="Ad">
            <span asp-validation-for="FirstName" style="color: red"></span>
        </div>
        <div class="form-group col-5 d-flex flex-column">
            <input asp-for="LastName" name="surname" placeholder="Soyad">
        </div>
    </div>
    <div class="form-comp">
        <div class="form-group col-5 d-flex flex-column">
            <input asp-for="Email" name="email" placeholder="Email">
        </div>
        <div class="form-group col-5 d-flex">
            <select name="phone-number-code" id="phone-number-code" class="id-type" required>
                <option value="050">050</option>
                <option value="051">051</option>
                <option value="055">055</option>
                <option value="099">099</option>
                <option value="070">070</option>
                <option value="077">077</option>
                <option value="060">060</option>
                <option value="010">010</option>
            </select>
            <input asp-for="PhoneNumber" name="phone-number" class="id-number" placeholder="Mobil nömrə">
        </div>
    </div>
    <div class="form-comp">
        <div class="form-group col-5 d-flex flex-column">
            <input asp-for="BirthDate" type="text" placeholder="Doğum tarixi" name="birth-date" style="cursor: pointer;" onfocus="(this.type='date')" onblur="(this.type='text')">
        </div>
        <div class="form-group col-5 d-flex flex-column">
            <select asp-for="IsResident" class="nationality">
                <option hidden>Vətəndaşlıq</option>
                <option value="resident">Azərbaycan Respublikasının vətəndaşı (Rezident)</option>
                <option value="non-resident">Başqa ölkənin vətəndaşı (Qeyri-rezident)</option>
            </select>
        </div>
    </div>
    <div class="form-comp">
        <div class="form-group col-5 d-flex">
            <select name="id-type" id="id-type" class="id-type" >
                <option value="AZE">AZE</option>
                <option value="AA">AA</option>
            </select>
            <input asp-for="IdNumber" name="id-number" class="id-number" placeholder="Vəsiqənin nömrəsi">
        </div>
        <div class="form-group col-5 d-flex flex-column">
            <input asp-for="IdPin" name="id-pin" placeholder="FIN kod">
        </div>
    </div>
    <div class="form-comp">
        <div class="form-group col-5 d-flex flex-column">
            <select asp-for="City" class="city" name="city">
                <option hidden>Şəhər</option>
                <option value="AGS">Ağdaş </option>
                <option value="AGC">Ağcabədi </option>
                <option value="AGA">Ağstafa </option>
                <option value="AGU">Ağsu </option>
                <option value="AST">Astara </option>
                <option value="BAB">Babək </option>
                <option value="BA">Bakı</option>
                <option value="BAL">Balakən </option>
                <option value="BAR">Bərdə </option>
                <option value="BEY">Beyləqan </option>
                <option value="BIL">Biləsuvar </option>
                <option value="DAS">Daşkəsən </option>
                <option value="FUZ">Füzuli </option>
                <option value="GA">Gəncə</option>
                <option value="GAD">Gədəbəy</option>
                <option value="QOB">Qobustan </option>
                <option value="GOR">Goranboy </option>
                <option value="GOY">Göyçay</option>
                <option value="GYG">Göygöl </option>
                <option value="HAC">Hacıqabul </option>
                <option value="IMI">İmişli </option>
                <option value="ISM">İsmayıllı </option>
                <option value="CAB">Cəbrayıl </option>
                <option value="CAL">Cəlilabad </option>
                <option value="CUL">Culfa </option>
                <option value="KAL">Kəlbəcər </option>
                <option value="KAN">Kəngərli </option>
                <option value="XAC">Xaçmaz </option>
                <option value="XIZ">Xızı </option>
                <option value="XCI">Xocalı </option>
                <option value="KUR">Kürdəmir </option>
                <option value="LAC">Laçın </option>
                <option value="LAN">Lənkəran</option>
                <option value="LA">Lənkəran </option>
                <option value="LER">Lerik </option>
                <option value="MAS">Masallı </option>
                <option value="MI">Mingəçevir</option>
                <option value="NX">Naxçıvan Muxtar Respublikası</option>
                <option value="NEF">Neftçala </option>
                <option value="OGU">Oğuz </option>
                <option value="ORD">Ordubad </option>
                <option value="QAB">Qəbələ </option>
                <option value="QAX">Qax </option>
                <option value="QAZ">Qazax </option>
                <option value="QBA">Quba </option>
                <option value="QBI">Qubadlı </option>
                <option value="QUS">Qusar </option>
                <option value="SAT">Saatlı </option>
                <option value="SAB">Sabirabad </option>
                <option value="SAD">Sədərək </option>
                <option value="SAL">Salyan </option>
                <option value="SMX">Samux </option>
                <option value="SBN">Şabran </option>
                <option value="SAH">Şahbuz </option>
                <option value="SA">Şəki</option>
                <option value="SAK">Şəki </option>
                <option value="SMI">Şamaxı </option>
                <option value="SKR">Şəmkir </option>
                <option value="SAR">Şərur </option>
                <option value="SR">Şirvan</option>
                <option value="SUS">Şuşa </option>
                <option value="SIY">Siyəzən </option>
                <option value="SM">Sumqayıt</option>
                <option value="TAR">Tərtər </option>
                <option value="TOV">Tovuz </option>
                <option value="UCA">Ucar </option>
                <option value="YAR">Yardımlı </option>
                <option value="YE">Yevlax</option>
                <option value="YEV">Yevlax </option>
                <option value="ZAN">Zəngilan </option>
                <option value="ZAQ">Zaqatala </option>
                <option value="ZAR">Zərdab </option>
            </select>
        </div>
        <div class="form-group col-5 d-flex flex-column">
            <select asp-for="DynamexBranch" name="branch" class="branch" >
                <option hidden>Filial</option>
                <option value="28may">28 May</option>
                <option value="Ganaja">Gəncə</option>
                <option value="Sumgait">Sumqayıt</option>
                <option value="Yasamal">Yasamal</option>
                <option value="Khaglar">Xalqlar Dostluğu</option>
                <option value="Khirdalan">Xırdalan</option>
                <option value="Akhmadli">Əhmədli</option>
                <option value="Bakikhanov">Bakıxanov</option>
                <option value="AzerPost">Azerpoçt</option>
                <option value="NewPost">Yeni Poçt</option>
                <option value="Courier">Kuryer</option>
            </select>
        </div>
    </div>
    <div class="form-comp" style="width: 79.5%;">
        <div class="form-group col-10 d-flex flex-column">
            <input asp-for="HomeAddress" name="address" class="address" placeholder="Ünvan">
        </div>
    </div>
    <div class="form-comp">
        <div class="form-group col-5 d-flex flex-column">
            <input asp-for="Password" name="password" placeholder="Şifrə">
        </div>
        <div class="form-group col-5 d-flex flex-column">
            <input asp-for="CheckPassword" name="conf-password" placeholder="Təkrar şifrə">
        </div>
    </div>
    <div class="form-comp">
        <div class="form-group col-5 d-flex align-items-center gap-2">
            <input asp-for="Agreement" name="agreement">
            <div class="text">
                <a asp-controller="Agreement" style="color: #15b2ec;">
                    İstifadəçi Şərtləri
                </a>
                <span style="font-size: 13px">ilə razıyam</span>
            </div>
        </div>
        <div class="form-group col-5 d-flex">
            <a href="https://youtu.be/mn-va-DWDmk" target="_blank" class="d-flex align-items-center">
                <i>
                    <span class="iconify" data-icon="octicon:video-16" data-height="16"></span>
                </i>
                <span style="margin-left: .5rem;">Qeydiyyat prosesini izləyin</span>
            </a>
        </div>
    </div>
    <div class="btn-wrap d-flex justify-content-center">
        <input class="register btn" type="submit" value="Qeydiyyatdan keç">
    </div>
</form>
@* <form method="post" action="https://httpbin.org/post" class="form col-12 juridical-person" style="display: none;"> *@
@*     <div class="form-comp"> *@
@*         <div class="form-group col-5 d-flex flex-column"> *@
@*             <input type="text" id="com-name" name="com-name" placeholder="Şirkətin adı" minlength="3" maxlength="30" required> *@
@*         </div> *@
@*         <div class="form-group col-5 d-flex flex-column"> *@
@*             <input type="text" id="tax-num" name="tax-num" placeholder="Şirkətin VÖEN-i" minlength="10" maxlength="10" required> *@
@*         </div> *@
@*     </div> *@
@*     <div class="form-comp"> *@
@*         <div class="form-group col-5 d-flex flex-column"> *@
@*             <input type="email" id="email" name="email" placeholder="Email" minlength="5" maxlength="30" required> *@
@*         </div> *@
@*         <div class="form-group col-5 d-flex"> *@
@*             <select name="phone-number-code" id="phone-number" class="id-type" required> *@
@*                 <option value="050">050</option> *@
@*                 <option value="051">051</option> *@
@*                 <option value="055">055</option> *@
@*                 <option value="099">099</option> *@
@*                 <option value="070">070</option> *@
@*                 <option value="077">077</option> *@
@*                 <option value="060">060</option> *@
@*                 <option value="010">010</option> *@
@*             </select> *@
@*             <input type="text" id="phone-number" name="phone-number" class="id-number" minlength="7" maxlength="7" required placeholder="Mobil nömrə"> *@
@*         </div> *@
@*     </div> *@
@*     <div class="form-comp"> *@
@*         <div class="form-group col-5 d-flex flex-column"> *@
@*             <select class="city" id="city" name="city" required> *@
@*                 <option hidden>Şəhər</option> *@
@*                 <option value="AGS">Ağdaş </option> *@
@*                 <option value="AGC">Ağcabədi </option> *@
@*                 <option value="AGA">Ağstafa </option> *@
@*                 <option value="AGU">Ağsu </option> *@
@*                 <option value="AST">Astara </option> *@
@*                 <option value="BAB">Babək </option> *@
@*                 <option value="BA">Bakı</option> *@
@*                 <option value="BAL">Balakən </option> *@
@*                 <option value="BAR">Bərdə </option> *@
@*                 <option value="BEY">Beyləqan </option> *@
@*                 <option value="BIL">Biləsuvar </option> *@
@*                 <option value="DAS">Daşkəsən </option> *@
@*                 <option value="FUZ">Füzuli </option> *@
@*                 <option value="GA">Gəncə</option> *@
@*                 <option value="GAD">Gədəbəy</option> *@
@*                 <option value="QOB">Qobustan </option> *@
@*                 <option value="GOR">Goranboy </option> *@
@*                 <option value="GOY">Göyçay</option> *@
@*                 <option value="GYG">Göygöl </option> *@
@*                 <option value="HAC">Hacıqabul </option> *@
@*                 <option value="IMI">İmişli </option> *@
@*                 <option value="ISM">İsmayıllı </option> *@
@*                 <option value="CAB">Cəbrayıl </option> *@
@*                 <option value="CAL">Cəlilabad </option> *@
@*                 <option value="CUL">Culfa </option> *@
@*                 <option value="KAL">Kəlbəcər </option> *@
@*                 <option value="KAN">Kəngərli </option> *@
@*                 <option value="XAC">Xaçmaz </option> *@
@*                 <option value="XIZ">Xızı </option> *@
@*                 <option value="XCI">Xocalı </option> *@
@*                 <option value="KUR">Kürdəmir </option> *@
@*                 <option value="LAC">Laçın </option> *@
@*                 <option value="LAN">Lənkəran</option> *@
@*                 <option value="LA">Lənkəran </option> *@
@*                 <option value="LER">Lerik </option> *@
@*                 <option value="MAS">Masallı </option> *@
@*                 <option value="MI">Mingəçevir</option> *@
@*                 <option value="NX">Naxçıvan Muxtar Respublikası</option> *@
@*                 <option value="NEF">Neftçala </option> *@
@*                 <option value="OGU">Oğuz </option> *@
@*                 <option value="ORD">Ordubad </option> *@
@*                 <option value="QAB">Qəbələ </option> *@
@*                 <option value="QAX">Qax </option> *@
@*                 <option value="QAZ">Qazax </option> *@
@*                 <option value="QBA">Quba </option> *@
@*                 <option value="QBI">Qubadlı </option> *@
@*                 <option value="QUS">Qusar </option> *@
@*                 <option value="SAT">Saatlı </option> *@
@*                 <option value="SAB">Sabirabad </option> *@
@*                 <option value="SAD">Sədərək </option> *@
@*                 <option value="SAL">Salyan </option> *@
@*                 <option value="SMX">Samux </option> *@
@*                 <option value="SBN">Şabran </option> *@
@*                 <option value="SAH">Şahbuz </option> *@
@*                 <option value="SA">Şəki</option> *@
@*                 <option value="SAK">Şəki </option> *@
@*                 <option value="SMI">Şamaxı </option> *@
@*                 <option value="SKR">Şəmkir </option> *@
@*                 <option value="SAR">Şərur </option> *@
@*                 <option value="SR">Şirvan</option> *@
@*                 <option value="SUS">Şuşa </option> *@
@*                 <option value="SIY">Siyəzən </option> *@
@*                 <option value="SM">Sumqayıt</option> *@
@*                 <option value="TAR">Tərtər </option> *@
@*                 <option value="TOV">Tovuz </option> *@
@*                 <option value="UCA">Ucar </option> *@
@*                 <option value="YAR">Yardımlı </option> *@
@*                 <option value="YE">Yevlax</option> *@
@*                 <option value="YEV">Yevlax </option> *@
@*                 <option value="ZAN">Zəngilan </option> *@
@*                 <option value="ZAQ">Zaqatala </option> *@
@*                 <option value="ZAR">Zərdab </option> *@
@*             </select> *@
@*         </div> *@
@*         <div class="form-group col-5 d-flex flex-column"> *@
@*             <select name="branch" id="branch" class="branch" required> *@
@*                 <option hidden>Filial</option> *@
@*                 <option value="28may">28 May</option> *@
@*                 <option value="Ganaja">Gəncə</option> *@
@*                 <option value="Sumgait">Sumqayıt</option> *@
@*                 <option value="Yasamal">Yasamal</option> *@
@*                 <option value="Khaglar">Xalqlar Dostluğu</option> *@
@*                 <option value="Khirdalan">Xırdalan</option> *@
@*                 <option value="Akhmadli">Əhmədli</option> *@
@*                 <option value="Bakikhanov">Bakıxanov</option> *@
@*                 <option value="AzerPost">Azerpoçt</option> *@
@*                 <option value="NewPost">Yeni Poçt</option> *@
@*                 <option value="Courier">Kuryer</option> *@
@*             </select> *@
@*         </div> *@
@*     </div> *@
@*     <div class="form-comp" style="width: 79.5%;"> *@
@*         <div class="form-group col-10 d-flex flex-column"> *@
@*             <input type="text" id="address" name="address" class="address" minlength="10" maxlength="30" placeholder="Ünvan" required> *@
@*         </div> *@
@*     </div> *@
@*     <div class="form-comp"> *@
@*         <div class="form-group col-5 d-flex flex-column"> *@
@*             <input type="password" name="password" id="password" placeholder="Şifrə" minlength="8" maxlength="30" required> *@
@*         </div> *@
@*         <div class="form-group col-5 d-flex flex-column"> *@
@*             <input type="password" name="conf-password" id="password" placeholder="Təkrar şifrə" minlength="8" maxlength="30" required> *@
@*         </div> *@
@*     </div> *@
@*     <div class="form-comp"> *@
@*         <div class="form-group col-5 d-flex align-items-center gap-2"> *@
@*             <input type="checkbox" id="agreement" name="agreement" required> *@
@*             <div class="text"> *@
@*                 <a asp-controller="Agreement" style="color: #15b2ec;"> *@
@*                     İstifadəçi Şərtləri *@
@*                 </a> *@
@*                 <span style="font-size: 13px">ilə razıyam</span> *@
@*             </div> *@
@*         </div> *@
@*         <div class="form-group col-5 d-flex"> *@
@*             <a href="https://youtu.be/mn-va-DWDmk" target="_blank" class="d-flex align-items-center"> *@
@*                 <i> *@
@*                     <span class="iconify" data-icon="octicon:video-16" data-height="16"></span> *@
@*                 </i> *@
@*                 <span style="margin-left: .5rem;">Qeydiyyat prosesini izləyin</span> *@
@*             </a> *@
@*         </div> *@
@*     </div> *@
@*     <div class="btn-wrap d-flex justify-content-center"> *@
@*         <button class="register btn" type="submit"> *@
@*             Qeydiyyatdan keç *@
@*         </button> *@
@*     </div> *@
@* </form> *@
<div class="do-you text d-flex justify-content-center gap-2 mt-2">
    <span style="font-size: 13px">Hesabınız var?</span>
    <a asp-controller="Login" style="color: #15b2ec;">Daxil olun!</a>
</div>
</div>
</div>
<div class="right col-lg-5">
    <img src="imgs/register/f_reg_img.svg" alt="" draggable="false">
    <div class="text">
        <span style="font-size: 13px">Hesabınız var?</span>
        <a asp-controller="Login" style="color: #15b2ec;">Daxil olun!</a>
    </div>
</div>
</div>
</div>
</section>
<!-- SECTIONS END -->
</main>